Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

feat(core): add identifiers to metadata
  src/app/app.config.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/core-models/index.ts
  src/app/core/core-models/meta.model.ts
  src/assets/data/edition/edition-complexes.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): add MetaIdentifierBadgesCmp
  src/app/app.config.ts
  src/app/core/core-data/logos.data.ts
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.html
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.scss
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.spec.ts
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.ts
  src/app/shared/shared.module.ts
  src/app/side-info/structure-info/structure-info.component.html
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/assets/img/logos/gnd.svg
  src/assets/img/logos/orcid.svg
  src/assets/img/logos/viaf.svg
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): use a single reference file for persons
  src/app/core/core-data/index.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/core-data/persons.data.ts
  src/app/core/core-models/index.ts
  src/app/core/core-models/meta.model.ts
  src/app/views/contact-view/contact-view.component.html
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/app/views/edition-view/services/edition-complexes.service.ts
  src/assets/data/edition/edition-complexes.json
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): use ISO date
  src/app/app.globals.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/footer/footer-declaration/footer-declaration.component.html
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/side-info/structure-info/structure-info.component.html
  src/app/side-info/structure-info/structure-info.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.html
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.spec.ts
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
  version.sh
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix tests after changes
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.html
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.spec.ts
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/app/views/edition-view/services/edition-complexes.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): resolve umlaute
  src/app/core/core-data/meta.data.ts
  src/app/core/core-data/persons.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix locale for DatePipe in tests
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/side-info/structure-info/structure-info.component.spec.ts
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): move editor resolving into complex creation
  src/app/views/edition-view/models/edition-complex.model.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/app/views/edition-view/services/edition-complexes.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): fix tsconfig eslint
  tsconfig.eslint.json
Due: none

fix(edition): fix type casting of respStmt editors
  src/app/views/edition-view/models/edition-complex.model.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): add identifiers for persons and use ISO dates
  src/app/app.globals.ts
  src/app/core/core-data/index.ts
  src/app/core/core-data/logos.data.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/core-data/persons.data.ts
  src/app/core/core-models/index.ts
  src/app/core/core-models/meta.model.ts
  src/app/core/footer/footer-declaration/footer-declaration.component.html
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.html
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.scss
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.spec.ts
  src/app/shared/meta-identifier-badges/meta-identifier-badges.component.ts
  src/app/shared/shared.module.ts
  src/app/side-info/structure-info/structure-info.component.html
  src/app/side-info/structure-info/structure-info.component.spec.ts
  src/app/views/contact-view/contact-view.component.html
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.html
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-complex-card/edition-section-detail-complex-card.component.spec.ts
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/models/edition-complex.model.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/img/logos/gnd.svg
  src/assets/img/logos/orcid.svg
  src/assets/img/logos/viaf.svg
  src/testing/mock-data/mockEditionData.ts
  tsconfig.eslint.json
  version.sh
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix markup in intros
  src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/2/section/2a/intro.json
Due: yarn format-files:fix

fix(assets): use NCName compatible id
  src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/1/section/5/m143/intro.json
  src/assets/data/edition/series/1/section/5/m144/intro.json
  src/assets/data/edition/series/1/section/5/m145/intro.json
  src/assets/data/edition/series/1/section/5/m146/intro.json
  src/assets/data/edition/series/1/section/5/op3/intro.json
  src/assets/data/edition/series/1/section/5/op4/intro.json
Due: yarn format-files:fix

fix(assets): fix intro markup
  src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/1/section/5/m143/intro.json
  src/assets/data/edition/series/1/section/5/m144/intro.json
  src/assets/data/edition/series/1/section/5/m145/intro.json
  src/assets/data/edition/series/1/section/5/m146/intro.json
  src/assets/data/edition/series/1/section/5/op3/intro.json
  src/assets/data/edition/series/1/section/5/op4/intro.json
  src/assets/data/edition/series/2/section/2a/intro.json
Due: yarn format-files:fix

fix(assets): update sagw logo
  src/app/core/core-data/logos.data.ts
  src/assets/img/logos/sagw.jpg
  src/assets/img/logos/sagw.svg
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
