Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): add missing glyphs for quadruple dynamics
  src/app/views/edition-view/data/edition-glyphs.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): reorganize glyphs data file
  src/app/views/edition-view/data/edition-glyphs.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

add sketch edition M322_Sk3
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

feat(assets): add corrections for Op4: H
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

check group-Ids etc.
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
Due: yarn format-files:fix

adjust Skizzenkommentar for M 322 Sk3.
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

test(core): fix deprecated method in tests for navbar
  src/app/core/navbar/navbar.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

adjust titles in svg #1 + #2
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
Due: none

add sketch edition M_322_Sk1
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
Due: yarn format-files:fix

fix(app): make fields only assigned in the constructor readonly
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/footer/footer.component.ts
  src/app/core/interceptors/caching/caching.interceptor.ts
  src/app/core/interceptors/loading/loading.interceptor.ts
  src/app/core/navbar/navbar.component.html
  src/app/core/navbar/navbar.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

add sketch edition M 322 Sk2
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
Due: yarn format-files:fix

update svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn format-files:fix

add M_322_Sk1
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M321_Sk1-1von1-final.svg
Due: yarn format-files:fix

feat(assets): add files for m322 Sk3
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: yarn format-files:fix

feat(assets): add files for m322 Sk1 & Sk2
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
Due: yarn format-files:fix

- -
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: yarn format-files:fix

update
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): optimize svgs for op25 with SVGO
  src/assets/img/edition/series/1/section/5/op25/M317_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_2_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-2von4-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-3von4-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-4von4-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle-1von1-final.svg
Due: none

fix(assets): fix wrong references in files for m322
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

feat(assets): activate edition complex M 322
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

update M 322 Sk3 after TkK findings (https://github.com/webern-unibas-ch/awg-app/issues/551#issuecomment-2462399776)
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
Due: yarn format-files:fix

update M 322 Sk1+2+3 after TkK findings (https://github.com/webern-unibas-ch/awg-app/issues/551#issuecomment-2462399776): supplied classes
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: none

attempt to clean up the chaos resulting from merge with develop...
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: yarn format-files:fix

more clean up...
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M322_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op25/M322_Sk3-3von3-final.svg
Due: yarn format-files:fix
