Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

build(deps): bump rdfstore from v0.9.18-alpha.19 to v0.9.18-alpha.20
  package.json
  yarn.lock
Due: none

test(edition): fix test
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump rdfstore from v0.9.18-alpha.19 to v0.9.18-alpha.20
  package.json
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

build(app): update lockfile
  yarn.lock
Due: none

build(app): update linter config
  eslint.config.mjs
Due: none

build(deps-dev): remove unused eslint-angular-plugin
  package.json
  yarn.lock
Due: none

build(app): update resolutions
  package.json
  yarn.lock
Due: none

build(app): update resolutions (#2922)
  package.json
  yarn.lock
Due: none

feat(edition): add toast for node click in graph
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): extract labels for triples
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): add test graph
  src/assets/data/edition/series/1/section/5/op25/graph_old.json
  src/assets/data/edition/series/1/section/5/op25/graph_test.json
Due: yarn format-files:fix

fix(assets): update triples graph
  src/assets/data/edition/series/1/section/5/op25/graph.json
  src/assets/data/edition/series/1/section/5/op25/graph_test.json
Due: yarn format-files:fix

fix(assets): improve sample queries
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

fix(edition): use id for node texts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): improve graph handling
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/assets/data/edition/series/1/section/5/op25/graph.json
  src/assets/data/edition/series/1/section/5/op25/graph_old.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): update tkk and linkbox ids in m34
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m35_42
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-1von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-2von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-3von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-4von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-5von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-6von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m36
  src/assets/data/edition/series/2/section/2a/m36/textcritics.json
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-1von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-2von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-3von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-5von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m37
  src/assets/data/edition/series/2/section/2a/m37/textcritics.json
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m38
  src/assets/data/edition/series/2/section/2a/m38/textcritics.json
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-1von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-2von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-3von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-5von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m39
  src/assets/data/edition/series/2/section/2a/m39/textcritics.json
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-10von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-11von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-1von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-2von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-3von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-4von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-5von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-6von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-7von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-8von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1-9von11-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Sk2-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m39/M39_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

fix(assets): update tkk and linkbox ids in m40
  src/assets/data/edition/series/2/section/2a/m40/textcritics.json
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Textfassung1-1von2-final.svg
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
