Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

add correction in Op. 3: source_Fabc_corr
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

add corrections in Op3: Gbc
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

feature/m29_inserted_blockheader
  src/assets/data/edition/series/2/section/2a/m29/textcritics.json
Due: yarn format-files:fix

feature/m40_insert_blockheader
  src/assets/data/edition/series/2/section/2a/m40/source-description_m40_textcritics.json
Due: yarn format-files:fix

feature/m41_insert_blockheader
  src/assets/data/edition/series/2/section/2a/m41/source-description_m41_textcritics.json
Due: yarn format-files:fix

feature/m43_insert_blockheader
  src/assets/data/edition/series/2/section/2a/m43/textcritics.json
Due: yarn format-files:fix

add corrections in Op3: source_H_corr1_2
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

feat(assets): add corrections in op3: F
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

Update .github/workflows/ci_workflow.yml
  .github/workflows/ci_workflow.yml
Due: none

updateafter review (unify "Pedal-Aufhebung")
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

feat(assets): add corrections in Op3: H
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

feat(assets): add corrections in Op3: G
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(assets): fix formatting of corrections op3: F–H
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(edition): add missing glyphs for note values
  src/app/views/edition-view/data/edition-glyphs.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): use glyphs for note values
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

feat(assets): create section wide intro file
  src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/1/section/5/m143/intro.json
  src/assets/data/edition/series/1/section/5/m144/intro.json
  src/assets/data/edition/series/1/section/5/m145/intro.json
  src/assets/data/edition/series/1/section/5/m146/intro.json
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op23/intro.json
  src/assets/data/edition/series/1/section/5/op25/intro.json
  src/assets/data/edition/series/1/section/5/op3/intro.json
  src/assets/data/edition/series/1/section/5/op4/intro.json
Due: yarn format-files:fix

refactor(edition): improve naming of intro scroll methods
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

add corrections for Op3: I + J
  .vscode/settings.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(assets): provide intro notes as blockNotes
  src/app/views/edition-view/models/intro.model.ts
  src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/2/section/2a/intro.json
Due: yarn lint-files:fix, yarn format-files:fix

Delete .vscode/settings.json
  .vscode/settings.json
Due: none

feat(edition): add breadcrumb for section intro
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
