Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): adjust modal.components.ts
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add further tests for visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add barrels for graph visualizer module participants
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/prefix-pipe/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-no-results/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-table/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/triples-editor/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/unsupported-type-results/index.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @commitlint packages from 17.0.x to 17.0.3
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.29.0 to 5.30.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-prettier from 4.0.0 to 4.1.0
  package.json
  yarn.lock
Due: none

test(edition): remove log from test
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): remove unused imports
  src/app/shared/table/models/table-data.model.ts
  src/app/shared/table/table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add response type for doQuery in visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triplestore-response.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): remove or underscore unused function parameters
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio/folio-overview.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

Update modal.component.ts
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): refactor interfaces related to rdfstore response
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/rdfstore-response.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triple.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triplestore-response.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): improve readability of tests for visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): add jsdocs for EditionDetail
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): do not trigger sonar cloud analysis on forks
  .github/workflows/ci_workflow.yml
Due: none

fix(edition): remove unused import
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio/folio-overview.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): remove redundant await from non-promise call
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): more adjustments to source-list of op12 and op25
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op25/source-list.json
Due: yarn format-files:fix

fix(edition): adjust modal.components.ts (#485)
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): more adjustments in source-description op op12 and op25, including links to transcription for Sk1-4 of op25
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

refactor(shared): rename MODAL_CONTENT_SNIPPETS
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): remove console.log
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(shared): rename and clarify members of ModalComponent
  src/app/shared/modal/modal.component.html
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(shared): add tests for ModalComponent
  src/app/shared/modal/modal.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(shared): move modal snippets into data file
  src/app/shared/modal/data/modal-content-snippets.data.ts
  src/app/shared/modal/modal.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): fix syntax in if-clause
  .github/workflows/ci_workflow.yml
Due: none

build(deps-dev): bump eslint-plugin-prettier from 4.1.0 to 4.2.1
  package.json
  yarn.lock
Due: none

ci(gh-actions): fix more syntax in if-clause
  .github/workflows/ci_workflow.yml
Due: none

fix(edition): fix typo in RISM sigle
  src/assets/data/edition/series/1/section/5/op25/source-list.json
Due: yarn format-files:fix

chore(release): 0.8.5
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add commit contributors
  CHANGELOG.md
Due: none

refactor(edition): refactor TableComponent
  src/app/shared/table/models/table-data.model.ts
  src/app/shared/table/table-pagination/table-pagination.component.ts
  src/app/shared/table/table.component.html
  src/app/shared/table/table.component.scss
  src/app/shared/table/table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for TableComponent
  src/app/shared/table/table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): remove unused imports from test for EditionIntroComponent
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(search): adjust tests for DataViewComponent
  src/app/views/data-view/data-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add ToastMessage class to ToastService
  src/app/core/services/toast-service/toast.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(core): adjust tests for ToastService
  src/app/core/services/toast-service/toast.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add errorMessageRequest to SparqlEditor
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add Clear button to SparqlEditor
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.ts
Due: yarn lint-files:fix, yarn format-files:fix
