Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

build(app): update to angular-eslint v19
  package.json
  yarn.lock
Due: none

test(edition): update tests after ng-bootstrap update
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): update eslint rules
  eslint.config.mjs
Due: none

feature/m23_source-list
  src/assets/data/edition/series/2/section/2a/m23/source-list.json
Due: yarn format-files:fix

fix source description op25: D
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

typo svg-sheets: SkRT
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn format-files:fix

update graph op25
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

fix(assets): small fixes for op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn format-files:fix

feature/update_source-lists
  src/assets/data/edition/series/2/section/2a/m22/source-list.json
  src/assets/data/edition/series/2/section/2a/m29/source-list.json
  src/assets/data/edition/series/2/section/2a/m34/source-list.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-list.json
  src/assets/data/edition/series/2/section/2a/m36/source-list.json
  src/assets/data/edition/series/2/section/2a/m37/source-list.json
  src/assets/data/edition/series/2/section/2a/m38/source-list.json
  src/assets/data/edition/series/2/section/2a/m40/source-list.json
  src/assets/data/edition/series/2/section/2a/m41/source-list.json
Due: yarn format-files:fix

typo source description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

update after review
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

fix(assets): update graph op25
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

update source description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature/m23
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m23/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk11-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk12-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk13-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk14-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk15-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk4-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk4-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk5-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk5-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk6-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk7-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk8-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk9-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-1von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-2von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-3von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-5von5-final.svg
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m23/source-list.json
  src/assets/data/edition/series/2/section/2a/m23/source-list.json
Due: yarn format-files:fix

feature/update_m23
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

fix(assets): add missing files for m40
  src/assets/data/edition/series/2/section/2a/m40/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m40/graph.json
  src/assets/data/edition/series/2/section/2a/m40/source-description_m40_textcritics.json
  src/assets/data/edition/series/2/section/2a/m40/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m40/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m40/textcritics.json
Due: yarn format-files:fix

feat(assets): activate edition complex M 40
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

fix(assets): optimize svgs for m40 with SVGO
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Textfassung1-2von2-final.svg
Due: none

fix(assets): adjust source description for m40
  src/assets/data/edition/series/2/section/2a/m40/source-description.json
Due: yarn format-files:fix

fix(assets): add link boxes to m40 in m35/42
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-6von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1_1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): include links to m40 in m35/42
  src/assets/data/edition/series/2/section/2a/m35_42/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/svg-sheets.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
