Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(assets): use RISM sigla for op19, 23 & 24
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/source-list.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-list.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-list.json
Due: yarn format-files:fix

fix(assets): link source descriptions of op19, 23 & 24 with svgs
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
Due: yarn format-files:fix

fix(edition): adjustments in svg files of M 317 TF1
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_1von2_bbt.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_1von2_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_2von2_bbt.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_2von2_path.svg
Due: none

feat(assets): updated files for M 34
  src/assets/data/edition/series/2/section/2a/M34/M34_textcritics.json
  src/assets/data/edition/series/2/section/2a/M34/Skizzen M34_Sk1(1).svg
  src/assets/data/edition/series/2/section/2a/M34/Skizzen M34_Sk1(2).svg
  src/assets/data/edition/series/2/section/2a/M34/Skizzen M34_Sk1(3).svg
  src/assets/data/edition/series/2/section/2a/M34/Skizzen M34_Sk1.1.svg
Due: yarn format-files:fix

feat(edition): generate source descriptions semi-automatically from JSON
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.module.ts
  src/app/views/edition-view/models/edition-svg-sheet.model.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

feat(core): add UtilityService for app-wide util functions
  src/app/core/services/index.ts
  src/app/core/services/utility-service/index.ts
  src/app/core/services/utility-service/utility.service.spec.ts
  src/app/core/services/utility-service/utility.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): adjust tests for SourceDescriptionComp after changes
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use utility service in app
  src/app/core/services/utility-service/utility.service.spec.ts
  src/app/core/services/utility-service/utility.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(core): adjust tests for StorageService
  src/app/core/services/storage-service/storage.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): adjust UtilityService to be stricter
  src/app/core/services/utility-service/utility.service.spec.ts
  src/app/core/services/utility-service/utility.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

style(app): adjust tab size
  src/assets/themes/scss/main.scss
Due: yarn format-files:fix

fix(app): remove unused imports (SonarCloud)
  src/app/shared/compile-html/compile-html.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.ts
  src/app/views/edition-view/models/view-box.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix typo in test for SparqlEditorCOmponent
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump custom rdfstore from 0.9.18-alpha.4 to -alpha.5
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular-devk/build-angular from 13.3.8 to 13.3.9
  package.json
  yarn.lock
Due: none

build(deps): bump codemirror from 5.65.6 to 5.65.7
  package.json
  yarn.lock
Due: none

build(deps): bump bootstrap from 5.1.3 to 5.2.0
  package.json
  yarn.lock
Due: none

style(app): fix styles after bootstrap update
  src/assets/themes/scss/customized-bootstrap.scss
  src/assets/themes/scss/main.scss
Due: yarn format-files:fix

fix(core): highlight Edition link in navbar when active
  src/app/core/navbar/navbar.component.html
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(app): fix typo in metadata
  src/app/core/core-models/meta.model.ts
  src/app/core/footer/footer-copyright/footer-copyright.component.ts
  src/app/core/footer/footer-declaration/footer-declaration.component.ts
  src/app/core/footer/footer.component.ts
  src/app/core/navbar/navbar.component.ts
  src/app/core/services/core-service/core.service.ts
  src/app/shared/address/address.component.ts
  src/app/side-info/contact-info/contact-info.component.ts
  src/app/side-info/structure-info/structure-info.component.ts
  src/app/views/contact-view/contact-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix container height of ForceGraph
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for TextCriticsListComponent
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(assets): final files for M 34
  src/assets/img/edition/series/2/section/2a/M 34/Skizzen M34_Sk1(1).svg
  src/assets/img/edition/series/2/section/2a/M 34/Skizzen M34_Sk1(2).svg
  src/assets/img/edition/series/2/section/2a/M 34/Skizzen M34_Sk1(3).svg
  src/assets/img/edition/series/2/section/2a/M 34/Skizzen M34_Sk1.1.svg
Due: none

feat(edition): add classes in svg files of M 212 and M 317 Sk1
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_1von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_2von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_3von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_4von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_5von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk1_1von1_220714_path.svg
Due: yarn format-files:fix

feat(edition): fix foliation in M 212 and add classes in some sketches of M 317
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_1von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_2von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_3von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_4von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_5von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_1_1von1_220714_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_1von1_220714_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_2_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_2_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1_3_1von1_220715_path.svg
Due: yarn format-files:fix

feat(assets): add svgGroupId to textcritics files
  src/app/views/edition-view/models/textcritics.model.ts
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn lint-files:fix, yarn format-files:fix

docs(shared): fix incorrect line break in table docs
  src/app/shared/table/table.component.html
  src/app/shared/table/table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add classes to M 317 Sk5
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle_21220119_1von1_path.svg
Due: none

feat(shared): create SliderConfig class
  src/app/shared/shared-models/slider-config.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): extend overlay model with selection status
  src/app/views/edition-view/models/edition-svg-overlay.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): use D3 library to render SVG sheets and overlays
  src/app/shared/shared-models/slider-config.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-list/edition-svg-sheet-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-list/edition-svg-sheet-list.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-list/edition-svg-sheet-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-list/edition-svg-sheet-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-list/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-svg-sheet_TODO/edition-svg-sheet.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-svg-sheet_TODO/edition-svg-sheet.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-svg-sheet_TODO/edition-svg-sheet.component.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
  src/app/views/edition-view/services/edition.service.ts
  src/app/views/edition-view/services/index.ts
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): add barrels for SliderConfig model class
  src/app/shared/shared-models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(shared): fix syntax for jsdocs in SliderConfig
  src/app/shared/shared-models/slider-config.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move shared D3 models to general edition models
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.ts
  src/app/views/edition-view/models/d3-selection.model.ts
  src/app/views/edition-view/models/d3-zoom-behaviour.model.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): calculate container dimensions in separate method
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): add docs for EditionSvgDrawingService
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests after changes
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/d3/d3.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/services/edition.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add tka-class in svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_1von2_path.svg
Due: none

fix(edition): adjust file names in svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn format-files:fix

feat(edition): add source description for M 317 TF1
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-list.json
  src/assets/img/edition/firm-signs/firm_je_no2_lin12.png
Due: yarn format-files:fix
