Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

Update src/assets/data/edition/series/2/section/2a/m29/textcritics.json
  src/assets/data/edition/series/2/section/2a/m29/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
Due: yarn format-files:fix

feature/m29_svg_corr
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk2-1von1-final.svg
Due: none

feature/m22_svg_corr
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-2von2-final.svg
Due: none

fix(assets): optimize svgs for m29 with SVGO
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk2-1von1-final.svg
Due: none

usd
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature/m22_svg_rotation
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-1von2-final.svg
Due: none

feature/m29_sk1_barnumber_added
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk1-3von3-final.svg
Due: none

fix(assets): optimize svgs for m22 with SVGO
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-2von2-final.svg
Due: none

fix(assets): add evaluation for m22 TF1
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-2von2-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m29 with SVGO
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk1-3von3-final.svg
Due: none

fix(assets): fix links in evaluation
  src/assets/data/edition/series/2/section/2a/m29/textcritics.json
Due: yarn format-files:fix

fix(assets): update files for m29
  src/assets/data/edition/series/2/section/2a/m29/textcritics.json
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m29/M29_Sk2-1von1-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m23 with SVGO
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk11-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk12-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk13-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk14-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk15-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk4-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk4-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk5-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk5-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk6-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk7-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk8-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk9-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-1von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-2von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-3von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Textfassung2-5von5-final.svg
Due: none

fix(assets): add missing files for m23
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/graph.json
Due: yarn format-files:fix

fix(assets): add links in textcritics
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
Due: yarn format-files:fix

fix(assets): add linkBoxes for m23
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk31-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk32_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk32_1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk12-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk13-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk14-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk15-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk5-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk6-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk7-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk8-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk9-1von1-final.svg
Due: yarn format-files:fix

fix(assets): fix svgGroupIds for tkks
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk4-2von2-final.svg
Due: yarn format-files:fix

fix(assets): fix supplied classes
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk20-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk27-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk11-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk12-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk2-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m36/M36_Sk1-5von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-2von5-final.svg
Due: none

add svg files
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-1von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-2von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-3von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-4von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-5von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-6von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-7von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-8von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-9von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_5-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_6-1von1-final.svg
Due: none

fix(edition): fix toggling of supplied classes
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

add textcritics
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

update source desription + svg files
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-9von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
Due: yarn format-files:fix

add in svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
Due: yarn format-files:fix

feature/m267
  src/assets/data/edition/series/2/section/2a/m267/source-description.json
  src/assets/data/edition/series/2/section/2a/m267/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m267/source-list.json
  src/assets/data/edition/series/2/section/2a/m267/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m267/textcritics.json
  src/assets/img/edition/series/2/section/2a/m267/M267_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m267/M267_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

add links to sketch editions in source description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix
