Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): check for partialIndex before constructing sheetId
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): remove deprecated alt label from op25 content
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn format-files:fix

fix(edition): fix overlay coordinates after update of op12
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix typo in textcritics for op12
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

chore(release): 0.8.4
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): include changes by @masthom
  CHANGELOG.md
Due: none

docs(CHANGELOG): fix links to @vanBithoven
  CHANGELOG.md
Due: none

docs(CHANGELOG): add credits to @masthom and @AMWilke in v0.8.2 release
  CHANGELOG.md
Due: none

docs(CONTRIBUTING): update commit message schema
  CONTRIBUTING.md
  commitlint.config.js
Due: none

docs(app): add AMWilke to contributors in package.json
  package.json
Due: none

build(deps): bump custom rdfstore from 0.9.18-alpha.3 to -alpha.4
  package.json
  yarn.lock
Due: none

refactor(edition): rename model QueryResult -> TriplestoreResponse
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triplestore-response.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/models/query-result.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename model SearchResult -> QueryResult
  src/app/shared/table/table.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/query-result.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-table/sparql-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-table/sparql-table.component.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/models/search-result.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(shared): refactor table models
  src/app/shared/table/models/index.ts
  src/app/shared/table/models/table-data.model.ts
  src/app/shared/table/models/table-options.model.ts
  src/app/shared/table/models/table-paginator-options.model.ts
  src/app/shared/table/models/table-rows.model.ts
  src/app/shared/table/table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename TripleComponent -> TripleValue
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triple.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move jumbotron into separate component
  src/app/views/edition-view/edition-jumbotron/edition-jumbotron.component.html
  src/app/views/edition-view/edition-jumbotron/edition-jumbotron.component.scss
  src/app/views/edition-view/edition-jumbotron/edition-jumbotron.component.spec.ts
  src/app/views/edition-view/edition-jumbotron/edition-jumbotron.component.ts
  src/app/views/edition-view/edition-jumbotron/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/d3/d3.service.ts
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): lazy load RowTablesComponent
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables-routing.module.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.html
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.module.ts
  src/app/views/edition-view/edition-view-routing.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): get row tables data from service
  src/app/views/edition-view/data/edition-row-tables.data.ts
  src/app/views/edition-view/data/index.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.ts
  src/app/views/edition-view/models/edition-row-tables.model.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-data.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests for row tables after changes
  src/app/core/services/core-service/core.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.spec.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move EditionWorks from model to data
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
  src/app/views/edition-view/data/edition-works.ts
  src/app/views/edition-view/data/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail-nav/edition-detail-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition.service.spec.ts
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(core): rename core mock-data -> core-data
  src/app/core/core-data/index.ts
  src/app/core/core-data/logos.data.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/footer/footer-copyright/footer-copyright.component.spec.ts
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/core/footer/footer-logo/footer-logo.component.spec.ts
  src/app/core/footer/footer-logo/footer-logo.component.ts
  src/app/core/footer/footer-poweredby/footer-poweredby.component.spec.ts
  src/app/core/footer/footer.component.spec.ts
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/services/core-service/core.service.spec.ts
  src/app/core/services/core-service/core.service.ts
  src/app/shared/address/address.component.spec.ts
  src/app/side-info/contact-info/contact-info.component.spec.ts
  src/app/side-info/structure-info/structure-info.component.spec.ts
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-no-results/sparql-no-results.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CONTRIBUTING): fix incorrect sorting of core scope
  CONTRIBUTING.md
Due: none

refactor(edition): make Triple class distinctive from StoreTriple
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/triple.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add some more default prefixes to PrefixPipe
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/prefix-pipe/prefix.pipe.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests for ToastComponent
  src/app/shared/toast/toast.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename prefixes -> qNames in visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): throw error in switch default with enums
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): refactor some methods in visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add first tests for visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump lint-staged from 13.0.2 to 13.0.3
  package.json
  yarn.lock
Due: none

fix(edition): added colons in source description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

refactor(edition): refactor PrefixPipe
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/data/default-prefixes.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/data/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/prefix-pipe/prefix.pipe.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for PrefixPipe
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/prefix-pipe/prefix.pipe.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): removed unused import from visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): adjustments in source-list and -description of op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
Due: yarn format-files:fix

fix(edition): adjustment in source-description of op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

refactor(edition): rename method parseTriples -> parseTripleString
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): refactor select response prep in visualizer service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
Due: yarn lint-files:fix, yarn format-files:fix
