Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix syntax for TF6
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
  src/assets/data/edition/series/2/section/2a/m114/source-list.json
Due: yarn format-files:fix

fix(assets): fix typo
  src/assets/data/edition/series/2/section/2a/m29/textcritics.json
Due: yarn format-files:fix

chore(release): 1.6.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

docs(app): add lili041 as contributor
  .all-contributorsrc
  package.json
Due: none

build(app): update to Angular v21
  angular.json
  karma.conf.js
  package.json
  src/main.ts
  tsconfig.json
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix tests after update
  src/app/app.component.spec.ts
  src/app/core/view-container/view-container.component.spec.ts
  src/app/core/view-container/view-container.component.ts
  src/app/shared/compile-html/compile-html.component.ts
  src/app/shared/external-link/external-link.directive.spec.ts
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.spec.ts
  src/app/shared/modal/modal.component.spec.ts
  src/app/shared/toast/toast.component.spec.ts
  src/app/shared/view-handle-button-group/view-handle-button-group.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/resource-info/resource-info.component.spec.ts
  src/app/side-info/resource-info/resource-info.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/props/props.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-switch/edition-svg-sheet-viewer-switch.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-sections/edition-sections.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): update karma config
  karma.conf.js
Due: none

build(app): update to Angular v21
  angular.json
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
  src/app/core/view-container/view-container.component.spec.ts
  src/app/core/view-container/view-container.component.ts
  src/app/shared/compile-html/compile-html.component.ts
  src/app/shared/external-link/external-link.directive.spec.ts
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.spec.ts
  src/app/shared/modal/modal.component.spec.ts
  src/app/shared/toast/toast.component.spec.ts
  src/app/shared/view-handle-button-group/view-handle-button-group.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/resource-info/resource-info.component.spec.ts
  src/app/side-info/resource-info/resource-info.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/props/props.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/graph-visualizer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-switch/edition-svg-sheet-viewer-switch.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-sections/edition-sections.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/main.ts
  src/testing/mock-data/mockEditionData.ts
  tsconfig.json
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): fix linting errors after update
  src/app/core/services/conversion-service/conversion.service.ts
  src/app/shared/order-by-pipe/order-by.pipe.spec.ts
  src/app/shared/view-handle-button-group/view-handle-button-group.component.spec.ts
  src/app/views/contact-view/contact-view.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.ts
  src/app/views/edition-view/edition-view.component.ts
  src/app/views/home-view/home-view.component.ts
  src/app/views/page-not-found-view/page-not-found-view.component.ts
  src/app/views/structure-view/structure-view.component.ts
  src/main.ts
  src/test.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): remove unused libraries
  package.json
  yarn.lock
Due: none

fix(shared): use unknown type for json viewer
  src/app/shared/json-viewer/json-viewer.component.spec.ts
  src/app/shared/json-viewer/json-viewer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): remove unused scripts
  angular.json
  src/assets/js/dateConverter.js
  src/assets/js/htmlConverter.js
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
