Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

feat(assets): add M212 Textfassung 1
  src/app/views/edition-view/data/edition-glyphs.data.ts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-2von2-final.svg
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix wrong line break in sourceDescription of op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(edition): fix order of glyphs
  src/app/views/edition-view/data/edition-glyphs.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): generate graph placeholder from component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.ts
  src/assets/data/edition/series/1/section/1/op24/graph.json
  src/assets/data/edition/series/1/section/3/op19/graph.json
  src/assets/data/edition/series/1/section/5/op12/graph.json
  src/assets/data/edition/series/1/section/5/op23/graph.json
  src/assets/data/edition/series/2/section/2a/m30/graph.json
  src/assets/data/edition/series/2/section/2a/m34/graph.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for graph placeholder
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/models/graph.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

Update src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
Due: yarn format-files:fix

fix typo in folio-convolute
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
Due: yarn format-files:fix

adjust files for op22_rowTable
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220119_3von3_path.svg
Due: yarn format-files:fix

adjust files
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_1von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_2von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220119_3von3_path.svg
Due: yarn format-files:fix

add files for Op22_rowTable
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op22/intro.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-evaluation.json
  src/assets/data/edition/series/1/section/2/op22/source-list.json
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_1von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_2von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220119_3von3_path.svg
Due: yarn format-files:fix

feat(assets): add row table for op22
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op22/intro.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-evaluation.json
  src/assets/data/edition/series/1/section/2/op22/source-list.json
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_1von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_2von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220119_3von3_path.svg
Due: yarn format-files:fix

fix(assets): rename svg files for op22
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-3von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_1von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220113_2von3_path.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle_20220119_3von3_path.svg
Due: yarn format-files:fix

fix(edition): activate edition complex op22
  src/app/views/edition-view/data/edition-complexes.data.ts
  src/app/views/edition-view/data/edition-row-tables.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix duplicated svg ids in op22
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
Due: yarn format-files:fix

fix(assets): fix typos in sourceDescriptions of op12 and op22
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(edition): remove whitespace from rowtable line endings in sourceDesc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add siglumAddendum to sourceList model
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/models/source-list.model.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/source-list.json
  src/assets/data/edition/series/1/section/2/op22/source-list.json
  src/assets/data/edition/series/1/section/3/op19/source-list.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op23/source-list.json
  src/assets/data/edition/series/1/section/5/op25/source-list.json
  src/assets/data/edition/series/2/section/2a/m30/source-list.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-list.json
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add text sources to sourceList
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.ts
  src/app/views/edition-view/models/source-list.model.ts
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix source ids
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/source-list.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-list.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-list.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-list.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-list.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-list.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-list.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): move empty sheets in op22 to separate items
  src/assets/data/edition/series/1/section/2/op22/source-description.json
Due: yarn format-files:fix

fix Quellenbewertung to M 212
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix writingMaterial in source-description to op22 Reihentabelle
  src/assets/data/edition/series/1/section/2/op22/source-description.json
Due: yarn format-files:fix

fix(assets): fix typos in M212 and op22
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix and adjust data for M 212 Textfassung 1
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/firm-signs/firm_je_no2_lin12_b.png
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add square brackets to folio label in folioViewer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix and adjust data for M 212 Textfassung 1
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/firm-signs/firm_je_no2_lin12_b.png
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix wrong svg id in M212 TF1
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

fix(edition): fix variable name of firm sign
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix typo in sic comment for M 212
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.4 to 15.2.5
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 15.2.5 to 15.2.6
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.57.0 to 5.58.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-jsdoc from 40.1.1 to 41.1.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-deprecation from 1.4.0 to 1.4.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.37.0 to 8.38.0
  package.json
  yarn.lock
Due: none
