Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix source description of op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(edition): update modification date for op12
  src/app/views/edition-view/models/edition-works.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use id instead of labels to identify textcritical comments
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use correct IDs to display op12 SVGs
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.html
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests after update of op12
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-nav/edition-svg-sheet-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-tka-table/edition-tka-table.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): use customized version of rdfstore
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 13.3.9 to 13.3.11
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps): bump remaining dependencies to latest versions
  package.json
  yarn.lock
Due: none

build(deps): revert angular-fontawesome bump from 0.10.2 to 0.11.0
  package.json
  yarn.lock
Due: none

chore(release): 0.8.3
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): use latest tagged version of custom rdfstore
  package.json
  yarn.lock
Due: none

add svg files
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_1von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_2von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_3von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_4von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1_5von5_220609_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5_1von1_220610_path.svg
Due: none

update folio-convolute + svg-sheets
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
Due: yarn format-files:fix

update source-description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

style(app): fix indentation for route paths
  src/app/app-routing.module.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.html
  src/app/views/data-view/data-view-routing.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

update source-description, intro and textcritics
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

build(deps-dev): bump test related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular/cli related packages to v13-lts
  package.json
  yarn.lock
Due: none

build(app): move from node v14 to v16-lts as default
  .github/workflows/ci_workflow.yml
  package.json
  yarn.lock
Due: none

update textcritics
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

build(app): adjust project to cli changes in angular v13
  .browserslistrc
  angular.json
  src/test.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): preparation for stricter mode
  src/app/core/footer/footer-logo/footer-logo.component.ts
  src/app/core/services/conversion-service/conversion.service.ts
  src/app/core/services/storage-service/storage.service.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/linkedobjects/linkedobjects.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/props/props.component.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.ts
  src/app/views/data-view/models/resource-detail-header.model.ts
  src/app/views/data-view/models/resource-detail.model.ts
  src/app/views/data-view/services/data-api.service.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/select-results/select-results.component.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/services/graph-visualizer.service.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.ts
  src/app/views/edition-view/models/folio-calculation.model.ts
  src/app/views/edition-view/services/edition.service.ts
  tsconfig.json
Due: yarn lint-files:fix, yarn format-files:fix

test(app): adjust tests after preparation for stricter mode
  src/app/core/footer/footer-logo/footer-logo.component.spec.ts
  src/app/core/footer/footer-poweredby/footer-poweredby.component.spec.ts
  src/app/core/footer/footer.component.spec.ts
  src/app/core/view-container/view-container.component.spec.ts
  src/app/shared/external-link/external-link.directive.spec.ts
  src/app/side-info/resource-info/resource-info.component.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/props/props.component.spec.ts
  src/app/views/data-view/services/data-api.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/sparql-no-results/sparql-no-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(app): fix exclude path to display routes with compodoc
  package.json
  tsconfig.doc.json
Due: none

refactor(app): use SNAKE_CASE (all caps) for route variables
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/side-info/side-info-routing.module.ts
  src/app/views/contact-view/contact-view-routing.module.ts
  src/app/views/data-view/data-outlets/bibliography/bibliography-routing.module.ts
  src/app/views/data-view/data-view-routing.module.ts
  src/app/views/edition-view/edition-outlets/edition-graph/edition-graph-routing.module.ts
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro-routing.module.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report-routing.module.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets-routing.module.ts
  src/app/views/edition-view/edition-view-routing.module.ts
  src/app/views/home-view/home-view-routing.module.ts
  src/app/views/page-not-found-view/page-not-found-view-routing.module.ts
  src/app/views/structure-view/structure-view-routing.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): adjust budget sizes
  angular.json
Due: none

fix(app): do not lazy-load default route
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/views/home-view/home-view-routing.module.ts
  src/app/views/home-view/home-view.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): add brotli compression to build script
  package.json
Due: none

build(deps-dev): bump lint-staged from 13.0.1 to 13.0.2
  package.json
  yarn.lock
Due: none

feat(edition): prepare svg panel to handle partial sheets
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.html
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-nav/edition-svg-sheet-nav.component.html
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-nav/edition-svg-sheet-nav.component.ts
  src/app/views/edition-view/models/edition-svg-sheet.model.ts
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): adjust tests to handle svg sheets with partials
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-nav/edition-svg-sheet-nav.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump ngx-json-viewer from 3.0.2 to 3.1.0
  package.json
  yarn.lock
Due: none

build(deps): bump codemirror from 5.65.5 to 5.65.6
  package.json
  yarn.lock
Due: none

test(edition): remove console.log from test
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-nav/edition-svg-sheet-nav.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): remove unnecessary dependency core-js
  package.json
  yarn.lock
Due: none

build(app): adjust project to cli changes in angular v13 (cont'd)
  .gitignore
  src/polyfills.ts
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
