Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix queryParams for sheet ids
  src/app/views/edition-view/data/edition-row-tables.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.html
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.spec.ts
  src/app/views/edition-view/models/edition-row-tables.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(home): add M 30 to start page
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix tests for routerLinks
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/core/navbar/navbar.component.spec.ts
  src/app/shared/router-link-button-group/router-link-button-group.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/views/edition-view/edition-complex-card/edition-complex-card.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.spec.ts
  src/app/views/page-not-found-view/page-not-found-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

chore(release): 0.10.1
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): add missing jsdoc comments
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

freat/M22update
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk23_2von4_final.svg
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk27_1_1von2_final.svg
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk27_1_2von2_final.svg
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk28_1_final.svg
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk32_1_1_final.svg
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk32_1_final.svg
  src/assets/data/edition/series/2/section/2a/m22/source-list.json
Due: yarn format-files:fix

fix(assets): add source description and convolute for M30
  src/assets/data/edition/series/2/section/2a/m30/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
Due: yarn format-files:fix

fix most of tkk findings for M 317
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk1_1von1_220714_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
Due: yarn format-files:fix

delete additional misplaced tkk-class in M 317 Sk4 m. 14
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
Due: none

fix(assets): tkk findings for M 317 (#852)
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk1_1von1_220714_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
Due: yarn format-files:fix

delete extra id
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

add linkBoxes
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

feat(assets): enable linkBoxes for M317 (#855)
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): adjust folio-convolute for M 317
  src/assets/data/edition/series/1/section/5/op25/folio-convolute.json
Due: yarn format-files:fix

feat/M22_Sk32.1.1_umbenannt
  src/assets/data/edition/series/2/section/2a/m22/M22_Sk32_1_1_final.svg
Due: none

feat(edition): add optional system description in sourceDesc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

- add svgGroupId (NB: class="tka") - change html encoding of forte symbol (&#119185;) to "&#x1D191;"
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): add svgGroupIds for M317 TF1
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

build(deps-dev): bump @types/node from 16.18.12 to 16.18.13
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.53.0 to 5.54.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.34.0 to 8.35.0
  package.json
  yarn.lock
Due: none

build(deps): bump rdfstore from v0.9.18-alpha.9 to v0.9.18-alpha.10
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.0 to 15.2.1
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 15.2.0 to 15.2.1
  package.json
  yarn.lock
Due: none

fix(edition): clear textcritical comments when changing svg sheet
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix svgGroupIds and classes for M 30
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_1von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_2von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_3von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_4von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_5von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_6von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_7von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_8von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_9von11_final.svg
Due: yarn format-files:fix

docs(CHANGELOG): add contributors
  CHANGELOG.md
Due: none

fix(edition): improve handling of music glyphs
  src/app/views/edition-view/data/edition-glyphs.data.ts
  src/app/views/edition-view/data/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.ts
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for glyphs in textcritical comments
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.spec.ts
  src/testing/expect-helper.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): simplify display of deleted measures
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.spec.ts
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix misc svg issues for M317
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2_1von1_220718_path.svg
Due: none

fix design of link-box in M317 Sk4b
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
Due: none

fix(assets): fix misc svg issues for M317
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
Due: none

fix(assets): m30_m34 update
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1von3_final.svg
Due: none

fix(assets): update files for M 30 and M 34
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1von3_final.svg
Due: none

fix(assets): lint updated svg files for M30 and M34
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1von3_final.svg
Due: none

fix(assets): fix group ids for M30 and M34
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1von3_final.svg
Due: yarn format-files:fix

fix(assets): update textcritical comment in M 30 with glyph
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
