Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

feature/m+409
  src/assets/data/edition/series/2/section/2a/m+409/source-description.json
  src/assets/data/edition/series/2/section/2a/m+409/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+409/source-list.json
  src/assets/data/edition/series/2/section/2a/m+409/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+409/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+409/M+409_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+409/M+409_Textfassung2-1von1-final.svg
Due: yarn format-files:fix

feature/m+410
  src/assets/data/edition/series/2/section/2a/m+410/source-description.json
  src/assets/data/edition/series/2/section/2a/m+410/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+410/source-list.json
  src/assets/data/edition/series/2/section/2a/m+410/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+410/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+410/M+410_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+412
  src/assets/data/edition/series/2/section/2a/m+412/source-description.json
  src/assets/data/edition/series/2/section/2a/m+412/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+412/source-list.json
  src/assets/data/edition/series/2/section/2a/m+412/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+412/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+412/M+412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+412/M+412_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+412/M+412_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+412/M+412_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+413
  src/assets/data/edition/series/2/section/2a/m+413/source-description.json
  src/assets/data/edition/series/2/section/2a/m+413/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+413/source-list.json
  src/assets/data/edition/series/2/section/2a/m+413/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+413/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+413/M+413_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+413/M+413_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+413_source-description_corr
  src/assets/data/edition/series/2/section/2a/m+413/source-description.json
Due: yarn format-files:fix

feature/m+414
  src/assets/data/edition/series/2/section/2a/m+414/source-description.json
  src/assets/data/edition/series/2/section/2a/m+414/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+414/source-list.json
  src/assets/data/edition/series/2/section/2a/m+414/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+414/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+414/M+414_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+414/M+414_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+414/M+414_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m+414/M+414_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+415
  src/assets/data/edition/series/2/section/2a/m+415/source-description.json
  src/assets/data/edition/series/2/section/2a/m+415/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+415/source-list.json
  src/assets/data/edition/series/2/section/2a/m+415/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+415/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+415/M+415_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+415/M+415_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+416
  src/assets/data/edition/series/2/section/2a/m+416/source-description.json
  src/assets/data/edition/series/2/section/2a/m+416/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+416/source-list.json
  src/assets/data/edition/series/2/section/2a/m+416/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+416/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+416/M+416_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+416/M+416_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

feature/m+415_textcritics_corr
  src/assets/data/edition/series/2/section/2a/m+415/textcritics.json
Due: yarn format-files:fix

feature/m+414_textcritics_corr
  src/assets/data/edition/series/2/section/2a/m+414/textcritics.json
Due: yarn format-files:fix

fix(assets): fix bracket syntax
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix(assets): optimize svgs for m213 with SVGO
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-1von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-2von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-3von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-4von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-5von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-6von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-7von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-8von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-9von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_5-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_6-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-1von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-2von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-3von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-4von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-5von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-6von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-7von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1_2-1von1-final.svg
Due: none

adjust tkk-boxes
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-3von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-7von9-final.svg
Due: none

fix(assets): fix link box reference in m213
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix(assets): add links to sketch partials
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

update after review
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_6-1von1-final.svg
Due: none

TkK findings: https://github.com/webern-unibas-ch/awg-app/issues/2169#issue-2827366828
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
Due: yarn format-files:fix

fix(assets): fix links to sketches in evaluations
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix(assets): optimize svgs for m213 with SVGO
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-3von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-7von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_6-1von1-final.svg
Due: none

feat(assets): add files for m213 Sk1ff
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-1von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-2von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-3von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-4von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-5von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-6von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-7von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-8von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1-9von9-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_4_3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_5-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M213_Sk1_6-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-1von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-2von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-3von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-4von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-5von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-6von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1-7von7-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M217_Sk1_2-1von1-final.svg
Due: yarn format-files:fix

add evaluation disclaimer for op19
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

adjust structure of textcritics in op22
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
Due: yarn format-files:fix

create files
  src/assets/data/edition/series/1/section/2/op20/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op20/graph.json
  src/assets/data/edition/series/1/section/2/op20/intro.json
  src/assets/data/edition/series/1/section/2/op20/source-evaluation.json
  src/assets/data/edition/series/1/section/2/op20/source-list.json
  src/assets/data/edition/series/1/section/2/op20/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op20/textcritics.json
  src/assets/img/edition/series/1/section/2/op20/op20_A_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op20/op20_A_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op20/op20_A_Reihentabelle-3von3-final.svg
Due: yarn format-files:fix

feature/complexes
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

fix(assets): fix order and naming of complexes
  src/assets/data/edition/edition-complexes.json
Due: yarn format-files:fix

fix(assets): fix star numbers
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

fix(edition): fix star numbers
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(assets): add edition complexes for AWG II/2a
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn lint-files:fix, yarn format-files:fix

feature/m+465
  src/assets/data/edition/series/2/section/2a/m+465/source-description.json
  src/assets/data/edition/series/2/section/2a/m+465/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+465/source-list.json
  src/assets/data/edition/series/2/section/2a/m+465/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+465/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+465/M+465_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+465/M+465_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
