Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

comments in the python script
  src/assets/Making tkk GroupIds.ipynb
Due: none

fix(assets): update sourceDesc in m*413
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
Due: yarn format-files:fix

comments added
  src/assets/Making tkk GroupIds.ipynb
Due: none

zurücksetzen auf "comments added"
  .github/workflows/ci_workflow.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecards.yml
  .github/workflows/visualize-repo.yml
  package.json
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m+410/source-list.json
  src/assets/data/edition/series/2/section/2a/m+412/source-list.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/graph.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/graph.json
  src/assets/data/edition/series/2/section/2a/mx410/intro.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx410/source-list.json
  src/assets/data/edition/series/2/section/2a/mx410/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx410/textcritics.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/graph.json
  src/assets/data/edition/series/2/section/2a/mx412/intro.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx412/source-list.json
  src/assets/data/edition/series/2/section/2a/mx412/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx412/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx410/Mx410_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Textfassung1-1von1-final.svg
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

Python Skript "Making tkk GroupIds"
  src/assets/Making tkk GroupIds.py
Due: none

comments added
  src/assets/Making tkk GroupIds.ipynb
  src/assets/Making tkk GroupIds.py
Due: none

fix(assets): update folios for m*413
  src/assets/data/edition/series/2/section/2a/mx409/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
Due: yarn format-files:fix

fix(assets): fix classes and ids
  src/assets/data/edition/series/2/section/2a/mx413/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-3von3-final.svg
Due: yarn format-files:fix

feat(assets): add files for m*413
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m+413/source-list.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/graph.json
  src/assets/data/edition/series/2/section/2a/mx413/intro.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx413/source-list.json
  src/assets/data/edition/series/2/section/2a/mx413/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx413/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx413/Mx413_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx413/Mx413_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m*414 with SVGO
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk2-1von1-final.svg
Due: none

fix(assets): update sourceDesc in m*414
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
Due: yarn format-files:fix

fix(assets): update folios for m*414
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx414/folio-convolute.json
Due: yarn format-files:fix

fix(assets): bring back commentary for m*414 Sk2
  src/assets/data/edition/series/2/section/2a/mx414/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk2-1von1-final.svg
Due: yarn format-files:fix

tkk GroupIds angepasst
  src/assets/Making tkk GroupIds.ipynb
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
  src/assets/img/edition/series/1/section/5/op4/M138_Textfassung1-3von5-final.svg
Due: yarn format-files:fix

weitere anpassungen
  src/assets/img/edition/series/1/section/5/op4/M138_Textfassung1-5von5-final.svg
Due: none

more changes
  src/assets/img/edition/series/1/section/5/op4/M138_Textfassung1-3von5-final.svg
Due: none

changes to the code --in the jupiter notebook
  src/assets/Making tkk GroupIds.ipynb
Due: none

Anfangsklammer ergänzt --- mit oder ohne Klammer?
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
Due: yarn format-files:fix

feat(assets): add files for m*414
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m+414/source-list.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx414/graph.json
  src/assets/data/edition/series/2/section/2a/mx414/intro.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx414/source-list.json
  src/assets/data/edition/series/2/section/2a/mx414/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx414/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk13-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk14-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx414/Mx414_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m*415 with SVGO
  src/assets/img/edition/series/2/section/2a/mx415/Mx415_Sk1-1von1-final.svg
Due: none

fix(assets): update sourceDesc in m*415
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
  src/assets/data/edition/series/2/section/2a/mx415/source-description.json
Due: yarn format-files:fix

fix(assets): update folios for m*415
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx414/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx415/folio-convolute.json
Due: yarn format-files:fix

feat(assets): add files for m*415
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m+415/source-list.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m29/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m29/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
  src/assets/data/edition/series/2/section/2a/mx415/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx415/graph.json
  src/assets/data/edition/series/2/section/2a/mx415/intro.json
  src/assets/data/edition/series/2/section/2a/mx415/source-description.json
  src/assets/data/edition/series/2/section/2a/mx415/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx415/source-list.json
  src/assets/data/edition/series/2/section/2a/mx415/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx415/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx415/Mx415_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx415/Mx415_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m*416 with SVGO
  src/assets/data/edition/series/2/section/2a/mx416/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx416/Mx416_Sk1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update sourceDesc in m*416
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
  src/assets/data/edition/series/2/section/2a/mx415/source-description.json
  src/assets/data/edition/series/2/section/2a/mx416/source-description.json
Due: yarn format-files:fix

fix(assets): update folios for m*416
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx414/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx415/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx416/folio-convolute.json
Due: yarn format-files:fix

corrections
  src/assets/Making tkk GroupIds.ipynb
  src/assets/img/edition/series/1/section/5/m145/M145_Textfassung1-1von4-final.svg
  src/assets/img/edition/series/1/section/5/m145/M145_Textfassung1-3von4-final.svg
Due: none

korrekturen
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

fix(core): remove sr-only attribute (unsupported in FA 7)
  src/app/core/navbar/navbar.component.html
  src/app/core/navbar/navbar.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
