Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): move text.id to th element instead of span
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): update edition modal snippets for op12
  src/app/shared/modal/data/modal-content-snippets.data.ts
  src/app/shared/modal/modal.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fixes in op27 row table
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
Due: yarn format-files:fix

Update textcritics.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
Due: yarn format-files:fix

fix(assets): fix TkK findings in op27 row table
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
Due: yarn format-files:fix

build(deps): bump @angular packages from 15.2.7 to 15.2.8
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @types/node from 16.18.23 to 16.18.24
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-jsdoc from 43.0.6 to 43.0.7
  package.json
  yarn.lock
Due: none

build(deps-dev): bump karma-chrome-launcher from 3.1.1 to 3.2.0
  package.json
  yarn.lock
Due: none

build(app): update test:ci script
  package.json
Due: none

ci(gh-actions): add node v20 to matrix
  .github/workflows/ci_workflow.yml
Due: none

fix(edition): remove unneccesary assertion (SonarCloud fix)
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump prettier from 2.8.7 to 2.8.8
  package.json
  yarn.lock
Due: none

build(deps-dev): bump karma from 6.4.1 to 6.4.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.38.0 to 8.39.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.59.0 to 5.59.1
  package.json
  yarn.lock
Due: none

m37_source-description
  src/assets/data/edition/series/2/section/2a/m37/source-description_m37.json
Due: yarn format-files:fix

fix(assets): remove self-references from textcritics in op25
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): fix SPARQL query for paratexts
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

feature/m37_svg-sheet
  src/assets/data/edition/series/2/section/2a/m37/svg-sheets.json
Due: yarn format-files:fix

build(deps-dev): bump @types/node from 16.18.24 to 16.18.25
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint-staged from 13.2.1 to 13.2.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.6 to 15.2.7
  package.json
  yarn.lock
Due: none

fix(assets): remove self-references from textcritics in m30
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
Due: yarn format-files:fix

fix(search): use Map for COMPOPSET_LOOKUP
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
  src/app/views/data-view/data/index.ts
  src/app/views/data-view/data/search-compop.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): highlight Textfassung in SourceEvaluation
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(edition): indicate number of sheets in sheet nav dropdown
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): relabel transcription button
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/M 37/textcritics.json
  src/assets/data/edition/series/2/section/2a/M 37/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m37/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m37/svg-sheets.json
Due: yarn format-files:fix

style(edition): use cards for parts of critical report
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump rxjs from 7.8.0 to 7.8.1
  package.json
  yarn.lock
Due: none
