Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

add link to transcription of M 136 Sk1
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

various fixes
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-list.json
Due: yarn format-files:fix

fix colons ;-)
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

fix "m" with overline
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

addendum
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

even more...
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(edition): do not display colon for stand-alone systems in SourceDesc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): improve display of evaluation labels in SheetFooter
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix track-by indices in SourceDescriptionComponent
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename doubletab_two -> doubletab_extended
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): fix expensive track-by indices
  src/app/shared/toast/toast.component.html
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-switch/edition-svg-sheet-viewer-switch.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(search): fix track-by indices for SearchResultList
  src/app/views/data-view/data-outlets/search-panel/search-result-list/search-result-list.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(search): removed unused conversionService from SearchPanel
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): simplify conversion of date values
  src/app/core/core-models/index.ts
  src/app/core/core-models/jdn-date.model.ts
  src/app/core/services/conversion-service/conversion.service.spec.ts
  src/app/core/services/conversion-service/conversion.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): simplify conversion of link values
  src/app/core/services/conversion-service/conversion.service.spec.ts
  src/app/core/services/conversion-service/conversion.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(core): fix typo in JDN date model
  src/app/core/core-models/jdn-date.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

after review
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-list.json
Due: yarn format-files:fix

fix(app): add corresponding keyboard event to mouse events
  src/app/shared/router-link-button-group/router-link-button-group.component.html
  src/app/shared/table/table.component.html
  src/app/views/data-view/data-outlets/bibliography/bibliography-list/bibliography-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-switch/edition-svg-sheet-viewer-switch.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): improve typings for distinctSubject conversion
  src/app/core/services/conversion-service/conversion.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): fix test errors after bootstrap update
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/linkedobjects/linkedobjects.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-editor/sparql-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/triples-editor/triples-editor.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/unsupported-type-results/unsupported-type-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
  src/testing/accordion-panel-helper.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): upgrade yarn to 4.3.0
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
Due: none
