Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

feat(edition): add op19
  src/assets/data/edition/series/1/section/3/op19/folio-convolute.json
  src/assets/data/edition/series/1/section/3/op19/intro.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-evaluation.json
  src/assets/data/edition/series/1/section/3/op19/source-list.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/img/edition/series/1/section/3/op19/Op. 19_Reihentabelle_20220112_1von1_path.svg
Due: yarn format-files:fix

fix(edition): fix typos in textcritics for op19
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

fix(edition): fix typos and names in json files for op24
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
Due: yarn format-files:fix

fix(edition): activate op19, op23 and op24
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.ts
  src/app/views/edition-view/models/edition-works.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add modal snippets for op19, op23 and op24
  src/app/shared/modal/modal.component.ts
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op23/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op23/source-list.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add graph files for op19, op23 and op24
  src/assets/data/edition/series/1/section/1/op24/graph.json
  src/assets/data/edition/series/1/section/3/op19/graph.json
  src/assets/data/edition/series/1/section/5/op12/graph.json
  src/assets/data/edition/series/1/section/5/op23/graph.json
  src/assets/data/edition/series/1/section/5/op25/graph.json
Due: yarn format-files:fix

fix(edition): fix file name for op19 row table
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle_20220112_1von1_path.svg
Due: none

update source-list_op12
  src/assets/data/edition/series/1/section/5/op12/source-list.json
Due: yarn format-files:fix

refactor(edition): get SVG sheets dynamically
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.html
  src/app/views/edition-view/edition-outlets/edition-sheets/edition-svg-sheet-list/edition-svg-sheet-list.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix ids for op24 sheets
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
Due: yarn format-files:fix

fix(edition): fix textcritical comment for op19
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

fix(edition): fix wrong closing tags in textcritics of op25
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(edition): adjust textcritics table headers for rowtables
  src/app/views/edition-view/edition-outlets/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/models/textcritics.model.ts
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests for EditionTkaTable component
  src/app/views/edition-view/edition-outlets/edition-tka-table/edition-tka-table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump @angular packages from 13.3.0 to 13.3.7
  package.json
  yarn.lock
Due: none

refactor(edition): clean up code
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump lint related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps-dev): bump test related packages to latest version
  package.json
  yarn.lock
Due: none

build(deps): bump remaining dependencies to latest versions
  package.json
  yarn.lock
Due: none

test(app): fix tests after updates
  src/app/core/interceptors/loading/loading.interceptor.spec.ts
  src/app/core/services/api-service/api.service.spec.ts
  src/app/core/services/data-streamer-service/data-streamer.service.spec.ts
  src/app/core/services/loading-service/loading.service.spec.ts
  src/app/core/services/side-info-service/side-info.service.spec.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.ts
  src/app/views/edition-view/edition-outlets/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-graph/graph-visualizer/graph-visualizer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/services/edition.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix deprecated symbols
  src/app/views/edition-view/edition-outlets/edition-graph/edition-graph.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump @angular packages from 13.3.7 to 13.3.9
  package.json
  yarn.lock
Due: none

build(deps): bump tslib from 2.3.1 to 2.4.0
  package.json
  yarn.lock
Due: none

build(deps): bump ejs from 3.1.6 to 3.1.8
  yarn.lock
Due: none

build(deps): bump node-forge from 1.2.1 to 1.3.0
  yarn.lock
Due: none

build(deps): bump minimist from 1.2.5 to 1.2.6
  yarn.lock
Due: none

chore(release): 0.8.2
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump async from 2.6.3 to 2.6.4
  yarn.lock
Due: none

fix(edition): add rowtable flag where needed
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(edition): fix typos in source descriptions
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

align with current guidelines
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-evaluation.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

align with current guidelines #2
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-evaluation.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

align sigles
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix(gh-actions): exclude SonarCloud analysis from pull requests
  .github/workflows/ci_workflow.yml
Due: none

fix(gh-actions): increase dependabot limits
  .github/dependabot.yml
Due: none

feat(edition): update op12 (#424)
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-evaluation.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

fix(edition): show html for source description type
  src/app/views/edition-view/edition-outlets/edition-report/source-description/source-description.component.html
Due: yarn lint-files:fix, yarn format-files:fix
