Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): add ids to tka table
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): indent labeled parts of sourceDesc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix tests
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use suffix for ids
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

create folders and upload images for AWG_I_5
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF1_TkA_T3_4.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T3.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T4a.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T4b.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Aa_corr2_T6_7a.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Aa_corr2_T6_7b.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T10.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T3_5.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T6.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T8.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Fa_corr2_T7.png
  src/assets/img/edition/kb-images/series1-section5/Op4_M139_TF2_TkA_T16.png
  src/assets/img/edition/kb-images/series1-section5/Op4_M141_TF1_TkA_T15.png
  src/assets/img/edition/kb-images/series1-section5/Op4_WE_TkA_T5.png
  src/assets/img/edition/kb-images/series1-section5/Op4_source_H_corr_IV_T6.png
  src/assets/img/edition/kb-images/series1-section5/m143_source_A_corr_2_T15_16.png
  src/assets/img/edition/kb-images/series1-section5/m143_source_A_corr_2_T9.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T13.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T6_8a.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T6_8b.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T7.png
  src/assets/img/edition/kb-images/series1-section5/m145_source_A_corr_2_T20_21.png
Due: none

fix(edition): add ids to tka table and indent sourceDesc details
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): add kv ids for m144
  src/assets/data/edition/series/1/section/5/m144/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m143
  src/assets/data/edition/series/1/section/5/m143/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m145
  src/assets/data/edition/series/1/section/5/m145/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m146
  src/assets/data/edition/series/1/section/5/m146/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for op3
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for op4
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m23
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m33
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
Due: yarn format-files:fix

fix(assets): add kv ids for m35_42
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m32
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/textcritics.json
Due: yarn format-files:fix

fix(assets): add kv ids for m39
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/textcritics.json
Due: yarn format-files:fix

fix(assets): add kv ids for m43
  src/assets/data/edition/series/2/section/2a/m43/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m44
  src/assets/data/edition/series/2/section/2a/m44/source-description.json
Due: yarn format-files:fix
