Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump lint-staged from 13.2.0 to 13.2.1
  package.json
  yarn.lock
Due: none

build(deps): bump @ng-bootstrap/ng-bootstrap from 14.0.1 to 14.1.0
  package.json
  yarn.lock
Due: none

build(deps): bump zone.js from 0.12.0 to 0.13.0
  package.json
  yarn.lock
Due: none

build(app): fix email field in package.json
  package.json
Due: none

docs(README): update contributors
  .all-contributorsrc
  README.md
  package.json
Due: none

feat(edition): add license hint to svg sheet viewer
  src/app/shared/license/license.component.html
  src/app/shared/license/license.component.scss
  src/app/shared/license/license.component.spec.ts
  src/app/shared/license/license.component.ts
  src/app/shared/shared.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): improve responsible design for svg sheet viewer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.5 to 15.2.6
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 15.2.6 to 15.2.7
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @commitlint packages from 17.4.4 to 17.6.1
  package.json
  yarn.lock
Due: none

update folder names
  src/assets/data/edition/series/1/section/2/op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op27/intro.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-evaluation.json
  src/assets/data/edition/series/1/section/2/op27/source-list.json
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
Due: yarn format-files:fix

add files for Op27_rowTable
  src/assets/data/edition/series/1/section/2/Op27/textcritics.json
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_1von3_path.svg
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_2von3_path.svg
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_3von3_path.svg
Due: yarn format-files:fix

add files for Op27_rowTable
  src/assets/data/edition/series/1/section/2/Op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/Op27/intro.json
  src/assets/data/edition/series/1/section/2/Op27/source-description.json
  src/assets/data/edition/series/1/section/2/Op27/source-evaluation.json
  src/assets/data/edition/series/1/section/2/Op27/source-list.json
  src/assets/data/edition/series/1/section/2/Op27/svg-sheets.json
Due: yarn format-files:fix

adjust content for Op27_rowTable
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/1/section/2/Op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/Op27/source-description.json
  src/assets/data/edition/series/1/section/2/Op27/svg-sheets.json
  src/assets/data/edition/series/1/section/2/Op27/textcritics.json
  src/assets/img/edition/firm-signs/firm_je_no6_lin20.png
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_1von3_path.svg
Due: yarn lint-files:fix, yarn format-files:fix

update file names and folder names
  src/assets/img/edition/series/1/section/2/Op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/Op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/Op27/op27_B_Reihentabelle-3von3-final.svg
Due: none

adjust files for Op27_rowTable
  src/assets/data/edition/series/1/section/2/Op27/textcritics.json
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_2von3_path.svg
  src/assets/img/edition/series/1/section/2/Op27/Op. 27_Reihentabelle_20220120_3von3_path.svg
Due: yarn format-files:fix

feat(assets): add op27 row table
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/1/section/2/op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op27/intro.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-evaluation.json
  src/assets/data/edition/series/1/section/2/op27/source-list.json
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/img/edition/firm-signs/firm_je_no6_lin20.png
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix files and names for op27 row table
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
Due: yarn format-files:fix

fix(edition): activate edition complex op27
  src/app/views/edition-view/data/edition-complexes.data.ts
  src/app/views/edition-view/data/edition-row-tables.data.ts
  src/assets/data/edition/series/1/section/2/op27/graph.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add graph file for op22
  src/assets/data/edition/series/1/section/2/op22/graph.json
Due: yarn format-files:fix

fix(edition): fix typos in op27 files
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix duplicated svg ids in op27
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
Due: yarn format-files:fix

test(edition): fix tests for source description
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(app): fix typo in sourcemap script
  package.json
Due: none

refactor(edition): reduce complexity of overlay creation methods
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): load row tables data from JSON
  src/app/views/edition-view/data/edition-assets.data.ts
  src/app/views/edition-view/data/edition-row-tables.data.ts
  src/app/views/edition-view/data/index.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.html
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.ts
  src/app/views/edition-view/models/edition-row-tables.model.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition-data.service.ts
  src/assets/data/edition/row-tables.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump eslint-plugin-jsdoc from 41.1.1 to 41.1.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.58.0 to 5.59.0
  package.json
  yarn.lock
Due: none

feature/m37
  src/assets/data/edition/series/2/section/2a/M 37/source-list.json
  src/assets/data/edition/series/2/section/2a/M 37/textcritics.json
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk1-1von1-final.svg.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk2-1von1-final.svg.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-1von3-final.svg.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-2von3-final.svg.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk3-3von3-final.svg.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Textedition-1von1-final.svg
Due: yarn format-files:fix

feature/update_m34
  src/assets/data/edition/series/2/section/2a/M 34/source-list.json
  src/assets/data/edition/series/2/section/2a/M 34/textcritics.json
  src/assets/img/edition/series/2/section/2a/m34/M34_Textedition-1von1-final.svg
Due: yarn format-files:fix

fix(assets): update files for m34
  src/assets/data/edition/series/2/section/2a/M 34/source-list.json
  src/assets/data/edition/series/2/section/2a/M 34/textcritics.json
  src/assets/img/edition/series/2/section/2a/m34/M34_Textedition-1von1-final.svg
Due: yarn format-files:fix

fix(assets): move updated files for m34 in correct folder
  src/assets/data/edition/series/2/section/2a/M 34/source-list.json
  src/assets/data/edition/series/2/section/2a/M 34/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/source-list.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
Due: yarn format-files:fix

fix(assets): activate Textfassung 1 for m34
  src/assets/data/edition/series/2/section/2a/m34/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/img/edition/series/2/section/2a/m34/M34_Textedition-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

build(deps-dev): bump eslint-plugin-jsdoc from 41.1.2 to 43.0.6
  package.json
  yarn.lock
Due: none

fix(assets): remove links from unavailable sketches for m31
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
Due: yarn format-files:fix

fix(assets): add links to M 317 sketches in source description
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

feat(edition): allow sources to be linked from textcritics
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix typo in textcritics for M 34 TF1
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
Due: yarn format-files:fix

fix(assets): link sources and sheets in m34, op12 & op25
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
Due: yarn format-files:fix

fix(assets): link textsources in op12
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
