Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): update dependabot.yml
  .github/dependabot.yml
Due: none

build(deps-dev): bump @types/node from 18.17.4 to 18.17.14
  package.json
  yarn.lock
Due: none

adjust "v" (verso) in page identifier
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-1von4-final.svg
Due: none

fix(assets): optimize 1 SVG(s) with SVGO
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-1von4-final.svg
Due: none

fix(assets): fix M317_Sk4-1von4-final
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-1von4-final.svg
Due: none

build(deps): bump bootstrap from 5.3.1 to 5.3.2
  package.json
  yarn.lock
Due: none

build(deps): bump zone.js from 0.13.1 to 0.13.3
  package.json
  yarn.lock
Due: none

ci(github): update .github/workflows/ci_optimize_svgs.yml
  .github/workflows/ci_optimize_svgs.yml
Due: none

feature/m30_update
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-1von11-final.svg
Due: yarn format-files:fix

fix(assets): optimize 1 SVG(s) with SVGO
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-1von11-final.svg
Due: none

Apply suggestions from code review
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-1von11-final.svg
Due: yarn format-files:fix

fix(assets): update files for M 30 (#1193)
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-1von11-final.svg
Due: yarn format-files:fix

build(app): switch to node 20 as default
  .github/workflows/ci_workflow.yml
Due: none

build(app): drop support of node 16
  package.json
Due: none

docs(README): add badge for node version
  README.md
Due: none

ci(app): exclude Node 21 from ci workflow for now
  .github/workflows/ci_workflow.yml
Due: none

build(app): bump minimal supported node version to 18.13.0
  .github/workflows/ci_workflow.yml
  README.md
  package.json
Due: none

build(deps-dev): bump @types/node from 18.17.14 to 18.19.3
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint-staged from 15.1.0 to 15.2.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-import from 2.29.0 to 2.29.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-config-prettier from 9.0.0 to 9.1.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.54.0 to 8.55.0
  package.json
  yarn.lock
Due: none

build(deps): update @angular to version 17
  angular.json
  package.json
  yarn.lock
Due: none

fix(edition): fix linting errors after update to v17
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/d3/d3.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/d3-force-simulation.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/d3-simulation-link.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/models/d3-simulation-node.model.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): fix scss import path after update to v17
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/imageobjects/imageobjects.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/force-graph/force-graph.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.scss
Due: yarn format-files:fix

test(core): fix tests for interceptors after update to v17
  src/app/core/interceptors/caching/caching.interceptor.spec.ts
  src/app/core/interceptors/loading/loading.interceptor.spec.ts
  src/testing/interceptor-helper.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump @ng-bootstrap/ng-bootstrap from 15.1.2 to 16.0.0
  package.json
  yarn.lock
Due: none

fix(edition): replace deprecated accordion syntax
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): improve check for empty sparql results
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests after bootstrap upgrade
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/construct-results/construct-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump @fortawesome packages from 6.4.2 to 6.5.1
  package.json
  yarn.lock
Due: none

build(deps): bump @fortawesome/angular-fontawesome from 0.13.0 to 0.14.0
  package.json
  yarn.lock
Due: none

ci(gh-actions): add dependabot groups
  .github/dependabot.yml
Due: none

chore(release): 0.11.1
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

ci(gh-actions): update ratchet versions
  .github/workflows/ci_workflow.yml
Due: none

build(deps): bump the angular group with 11 updates
  package.json
  yarn.lock
Due: none

fix(assets): optimize 2 SVG(s) with SVGO
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-1von11-final.svg
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
