Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix files for m22
  src/assets/data/edition/series/2/section/2a/m22/source-description_m22_source-description.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk31-2von2-final.svg
Due: yarn format-files:fix

feature/m38
  src/assets/data/edition/series/2/section/2a/m38/source-description_m38_source-description.json
  src/assets/data/edition/series/2/section/2a/m38/source-description_m38_textcritics.json
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-1von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-2von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-3von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-4von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Sk3-5von5-final.svg
  src/assets/img/edition/series/2/section/2a/m38/M38_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): fix links to edited items in m22
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
Due: yarn format-files:fix

fix(assets): optimize new svgs for m22 with SVGO
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk31-2von2-final.svg
Due: none

fix(assets): fix changes that got lost again
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
Due: yarn format-files:fix

fix(assets): fix lost changes in files for m22
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk31-2von2-final.svg
Due: yarn format-files:fix

chore(release): 0.12.1
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

build(app): add nx/cache to gitignore file
  .gitignore
Due: none

update source description E (op. 3)
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(edition): use correct string for source evaluation
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/data/edition/series/2/section/2a/m31/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/data/edition/series/2/section/2a/m37/textcritics.json
Due: yarn lint-files:fix, yarn format-files:fix

feature/m40
  src/assets/data/edition/series/2/section/2a/m40/source-description_m40_source-description.json
  src/assets/data/edition/series/2/section/2a/m40/source-description_m40_textcritics.json
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M 40_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m40/M40_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

fix(edition): use correct string for textcritical comments
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): simplify check for sketches
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): pass down info about sketches to TkaTable
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feature/m41
  src/assets/data/edition/series/2/section/2a/m41/source-description_m41_source-description.json
  src/assets/data/edition/series/2/section/2a/m41/source-description_m41_textcritics.json
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-1von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-2von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-3von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-4von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-5von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1-6von6-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1_1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1_1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m41/M41_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

feat(edition): add TkaTableHeader model
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/models/tka-table-header.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): improve creation of TkaTableHeader
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): prepare TkaTableHeader for corrections
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): include check for rowtable sketch ids (SkRT)
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): don't adjust comment label for corrections
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add tests for TkaTableHeaders
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): remove ratchet comment
  .github/workflows/ci_workflow.yml
  .github/workflows/visualize-repo.yml
Due: none

build(deps): update .github/workflows/ci_workflow.yml
  .github/workflows/ci_workflow.yml
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
