Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): add kv ids for m45
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/textcritics.json
Due: yarn format-files:fix

fix(assets): add kv ids for m75
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m46
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m76
  src/assets/data/edition/series/2/section/2a/m76/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m112
  src/assets/data/edition/series/2/section/2a/m112/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m113
  src/assets/data/edition/series/2/section/2a/m113/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m114
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m267
  src/assets/data/edition/series/2/section/2a/m267/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for m116
  src/assets/data/edition/series/2/section/2a/m116/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx409
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx412
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx410
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx413
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx414
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx465
  src/assets/data/edition/series/2/section/2a/mx465/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx466
  src/assets/data/edition/series/2/section/2a/mx466/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for mx467
  src/assets/data/edition/series/2/section/2a/mx467/source-description.json
Due: yarn format-files:fix

fix(assets): fix id refs to wrong tf
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
Due: yarn format-files:fix

fix(assets): fix typos in KVs
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m113/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m43/source-description.json
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
  src/assets/data/edition/series/2/section/2a/m76/source-description.json
Due: yarn format-files:fix

fix(assets): fix TF in op25 E
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fix(assets): add kv ids for AWG I/5 & AWG II/2a
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m112/source-description.json
  src/assets/data/edition/series/2/section/2a/m113/source-description.json
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
  src/assets/data/edition/series/2/section/2a/m116/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m267/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/textcritics.json
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/textcritics.json
  src/assets/data/edition/series/2/section/2a/m43/source-description.json
  src/assets/data/edition/series/2/section/2a/m44/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/textcritics.json
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
  src/assets/data/edition/series/2/section/2a/m76/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx414/source-description.json
  src/assets/data/edition/series/2/section/2a/mx465/source-description.json
  src/assets/data/edition/series/2/section/2a/mx466/source-description.json
  src/assets/data/edition/series/2/section/2a/mx467/source-description.json
Due: yarn format-files:fix

feat(assets): add preliminary pool of KB-images
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF1_TkA_T3_4.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T3.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T4a.png
  src/assets/img/edition/kb-images/series1-section5/Op3_M134_TF2_TkA_T4b.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Aa_corr2_T6_7a.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Aa_corr2_T6_7b.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T10.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T3_5.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T6.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Ab_corr2_T8.png
  src/assets/img/edition/kb-images/series1-section5/Op3_source_Fa_corr2_T7.png
  src/assets/img/edition/kb-images/series1-section5/Op4_M139_TF2_TkA_T16.png
  src/assets/img/edition/kb-images/series1-section5/Op4_M141_TF1_TkA_T15.png
  src/assets/img/edition/kb-images/series1-section5/Op4_WE_TkA_T5.png
  src/assets/img/edition/kb-images/series1-section5/Op4_source_H_corr_IV_T6.png
  src/assets/img/edition/kb-images/series1-section5/m143_source_A_corr_2_T15_16.png
  src/assets/img/edition/kb-images/series1-section5/m143_source_A_corr_2_T9.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T13.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T6_8a.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T6_8b.png
  src/assets/img/edition/kb-images/series1-section5/m144_source_A_corr_2_T7.png
  src/assets/img/edition/kb-images/series1-section5/m145_source_A_corr_2_T20_21.png
Due: none

feat(edition): add snippet service
  src/app/views/edition-view/services/edition-snippet.service.spec.ts
  src/app/views/edition-view/services/edition-snippet.service.ts
  src/app/views/edition-view/services/index.ts
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add snippet to tka table
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): add script to check snippets
  package.json
  scripts/check-snippets.js
Due: none

refactor(assets): rename KB snippets
  src/assets/img/edition/snippets/awg-kv-m133_tf1_Aa_corr_2-002a.png
  src/assets/img/edition/snippets/awg-kv-m133_tf1_Aa_corr_2-002b.png
  src/assets/img/edition/snippets/awg-kv-m133_tf3_Fa_corr_2-005.png
  src/assets/img/edition/snippets/awg-kv-m134_tf1_Ab_corr_2-001.png
  src/assets/img/edition/snippets/awg-kv-m134_tf1_Ab_corr_2-002.png
  src/assets/img/edition/snippets/awg-kv-m134_tf1_Ab_corr_2-003.png
  src/assets/img/edition/snippets/awg-kv-m134_tf1_Ab_corr_2-005.png
  src/assets/img/edition/snippets/awg-kv-m141_tf2_H_corr-005.png
  src/assets/img/edition/snippets/awg-kv-m143_tf1_A_corr_2-001.png
  src/assets/img/edition/snippets/awg-kv-m143_tf1_A_corr_2-006.png
  src/assets/img/edition/snippets/awg-kv-m144_tf1_A_corr_2-001a.png
  src/assets/img/edition/snippets/awg-kv-m144_tf1_A_corr_2-001b.png
  src/assets/img/edition/snippets/awg-kv-m144_tf1_A_corr_2-002.png
  src/assets/img/edition/snippets/awg-kv-m144_tf1_A_corr_2-006.png
  src/assets/img/edition/snippets/awg-kv-m145_tf1_A_corr_2-006.png
  src/assets/img/edition/snippets/awg-tkk-m134_tf1-003.png
  src/assets/img/edition/snippets/awg-tkk-m134_tf2-001.png
  src/assets/img/edition/snippets/awg-tkk-m134_tf2-002.png
  src/assets/img/edition/snippets/awg-tkk-m134_tf2-005.png
  src/assets/img/edition/snippets/awg-tkk-m138_tf3-012.png
  src/assets/img/edition/snippets/awg-tkk-m139_tf2-014.png
  src/assets/img/edition/snippets/awg-tkk-m141_tf1-006.png
Due: none

fix(assets): update ids for WE versions
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
Due: yarn format-files:fix

fix(edition): harden snippet service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/services/edition-snippet.service.spec.ts
  src/app/views/edition-view/services/edition-snippet.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): further harden snippet service
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/services/edition-snippet.service.spec.ts
  src/app/views/edition-view/services/edition-snippet.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

feature/m32_update
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/m32/textcritics.json
Due: yarn format-files:fix

fix(app): update snippet checker script
  scripts/check-snippets.js
Due: none

fix(edition): handle malformed placeholders
  scripts/check-snippets.js
  src/app/views/edition-view/services/edition-snippet.service.spec.ts
  src/app/views/edition-view/services/edition-snippet.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix malformed snippet placeholder
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
Due: yarn format-files:fix

fix(edition): fix aria label for modals
  src/app/shared/modal/modal.component.html
  src/app/shared/modal/modal.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add snippet service
  package.json
  scripts/check-snippets.js
  src/app/shared/modal/modal.component.html
  src/app/shared/modal/modal.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/services/edition-snippet.service.spec.ts
  src/app/views/edition-view/services/edition-snippet.service.ts
  src/app/views/edition-view/services/index.ts
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
