Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(edition): fix check for section III/5 in outline model
  src/app/views/edition-view/models/edition-outline.model.ts
  src/app/views/edition-view/services/edition-outline.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(side-info): fix tests for EditionInfo after changes
  src/app/side-info/edition-info/edition-info.component.html
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(home): display sections instead of complexes in home-view
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(home): move home cards into separate component
  src/app/app.module.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/home-view/data/home-view-card.data.ts
  src/app/views/home-view/data/index.ts
  src/app/views/home-view/home-view-card/home-view-card.component.html
  src/app/views/home-view/home-view-card/home-view-card.component.scss
  src/app/views/home-view/home-view-card/home-view-card.component.spec.ts
  src/app/views/home-view/home-view-card/home-view-card.component.ts
  src/app/views/home-view/home-view-card/index.ts
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.scss
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
  src/app/views/home-view/home-view.module.ts
  src/app/views/home-view/models/home-view-card.model.ts
  src/app/views/home-view/models/index.ts
  src/assets/img/home/database_sample.png
Due: yarn lint-files:fix, yarn format-files:fix

refactor(core): unify naming of core data
  src/app/core/core-data/index.ts
  src/app/core/core-data/logos.data.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/footer/footer-copyright/footer-copyright.component.spec.ts
  src/app/core/footer/footer-declaration/footer-declaration.component.spec.ts
  src/app/core/footer/footer-logo/footer-logo.component.spec.ts
  src/app/core/footer/footer-logo/footer-logo.component.ts
  src/app/core/footer/footer-poweredby/footer-poweredby.component.spec.ts
  src/app/core/footer/footer.component.spec.ts
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/services/core-service/core.service.spec.ts
  src/app/core/services/core-service/core.service.ts
  src/app/shared/address/address.component.spec.ts
  src/app/side-info/contact-info/contact-info.component.spec.ts
  src/app/side-info/structure-info/structure-info.component.spec.ts
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-no-results/sparql-no-results.component.spec.ts
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(home): update landing page content
  src/app/app.config.ts
  src/app/core/core-data/meta.data.ts
  src/app/core/core-models/meta.model.ts
  src/app/views/home-view/data/home-view-card.data.ts
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(structure): replace SALSAH with DSP in structure-view
  src/app/views/structure-view/structure-view.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(home): link to doku page instead of compodoc
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

style(page-not-found): improve styling
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/page-not-found-view/page-not-found-view.component.html
  src/app/views/page-not-found-view/page-not-found-view.component.scss
  src/app/views/page-not-found-view/page-not-found-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): adjust wording for headings and disclaimer
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-disclaimer/edition-section-detail-disclaimer.component.html
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-disclaimer/edition-section-detail-disclaimer.component.spec.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add description to series overview
  src/app/views/edition-view/edition-outlets/edition-series/edition-series.component.html
  src/app/views/edition-view/edition-outlets/edition-series/edition-series.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(core): mute search button on navbar
  src/app/core/navbar/navbar.component.html
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(home): fix tests after changes
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(app): rename routeToSidenav method
  src/app/app.component.html
  src/app/core/view-container/view-container.component.html
  src/app/core/view-container/view-container.component.spec.ts
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/contact-view/contact-view.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.ts
  src/app/views/data-view/data-view.component.spec.ts
  src/app/views/data-view/data-view.component.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.component.ts
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
  src/app/views/structure-view/structure-view.component.spec.ts
  src/app/views/structure-view/structure-view.component.ts
  src/assets/themes/css/main.css
  src/assets/themes/scss/main.scss
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): do not show sideOutlet on home view
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/view-container/view-container.component.html
  src/app/core/view-container/view-container.component.spec.ts
  src/app/core/view-container/view-container.component.ts
  src/app/side-info/side-info-routing.module.ts
  src/app/views/contact-view/contact-view-routing.module.ts
  src/app/views/contact-view/contact-view.component.spec.ts
  src/app/views/contact-view/contact-view.component.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.ts
  src/app/views/data-view/data-view.component.ts
  src/app/views/edition-view/edition-view-routing.module.ts
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.component.ts
  src/app/views/home-view/home-view.component.ts
  src/app/views/page-not-found-view/page-not-found-view.component.ts
  src/app/views/structure-view/structure-view-routing.module.ts
  src/app/views/structure-view/structure-view.component.spec.ts
  src/app/views/structure-view/structure-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): remove side outlet from data
  src/assets/data/edition/series/1/section/5/intro.json
Due: yarn format-files:fix

fix(edition): use solid icon for calendarX
  package.json
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.ts
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

style(home): stretch links of home view cards
  src/app/views/home-view/home-view-card/home-view-card.component.html
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): add missing glyph for sfz
  src/app/views/edition-view/data/edition-glyphs.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(search): fix tests after changes
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.spec.ts
  src/app/views/data-view/data-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(shared): add JSDocs to new AlertInfo class
  src/app/shared/alert-info/alert-info.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps): bump rdfstore from v0.9.18-alpha.16 to v0.9.18-alpha.17
  package.json
  yarn.lock
Due: none

docs(README): update project image
  README.md
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

add corrections for Op4: source_H_corr
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

Update source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

Update source-description.json Op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fix(assets): update source description of op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix
