Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

fix(assets): various fixes in source descriptions
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-list.json
Due: yarn format-files:fix

docs(README): update prerequisites for modern yarn
  README.md
Due: none

docs(README): add hint about admin privileges
  README.md
Due: none

docs(README): update start command
  README.md
Due: none

docs(README): update install instructions (#1583)
  README.md
Due: none

feat(edition): enable cross-complex report navigation from Sheets
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): enable cross-complex report navigation from Intro
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/assets/data/edition/series/1/section/5/op12/intro.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): enable cross-complex report navigation from Report
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): adjust calls to report fragments in data
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/source-list.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/1/section/5/op3/source-list.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-list.json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/data/edition/series/2/section/2a/m31/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/data/edition/series/2/section/2a/m37/textcritics.json
Due: yarn format-files:fix

fix(assets): activate cross-complex report links in op3 and op4
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

refactor(edition): unify signature of selectSvgSheet method
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/folio.service.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): adjust test to refactored method signature
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/folio.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use optional chaining for navigation with complex ids
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): use updated method signature with data
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/data/edition/series/2/section/2a/m31/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/data/edition/series/2/section/2a/m37/textcritics.json
Due: yarn format-files:fix

Update .github/workflows/ci_workflow.yml
  .github/workflows/ci_workflow.yml
Due: none

add KV: op. 12 EH
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

test(edition): add tests for SourceDescriptionDetail component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): plurify sourceDesc details and move into component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/source-description-detail.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.module.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename writingMaterial -> writingMaterials
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename SourceDescriptionDetails component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-detail/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): do not add punctuation marks for source description desc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): remove redundant file
  src/assets/data/edition/series/2/section/2a/m22/source-description_m22_source-description.json
Due: yarn format-files:fix

fix(assets): apply new source desc model to assets
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
Due: yarn format-files:fix
