Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

add M 133 TF1 (tbc)
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung1-1von2-final.svg
Due: none

Update src/assets/data/edition/series/1/section/5/intro.json
  src/assets/data/edition/series/1/section/5/intro.json
Due: yarn format-files:fix

ci(gh-actions): remove whitespace from codecov env_vars
  .github/workflows/ci_workflow.yml
Due: none

update after review
  src/assets/data/edition/series/1/section/5/intro.json
Due: yarn format-files:fix

ci(gh-actions): fix syntax for codecov yaml
  .github/codecov.yml
Due: none

fix(assets): update intro op. 23 & op. 25
  src/assets/data/edition/series/1/section/5/intro.json
Due: yarn format-files:fix

add M 133 TF1 (cont'd)
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

build(app): drop support for node 18 and default to node 22
  .github/workflows/ci_workflow.yml
  README.md
  package.json
Due: none

fix(edition): display text editions by default if available
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

add M 133 TF2
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

add M 133 TF3
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung3-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung3-2von2-final.svg
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
Due: yarn format-files:fix

Update textcritics.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
Due: yarn format-files:fix

feat(assets): add M 133 Textfassungen 1 & 2 & 3
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung2-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung3-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M133_Textfassung3-2von2-final.svg
Due: yarn format-files:fix

add M 138 TF1 (tbc)
  src/assets/img/edition/series/1/section/5/op4/M138_Textfassung1-1von5-final.svg
  src/assets/img/edition/series/1/section/5/op4/M138_Textfassung1-2von5-final.svg
Due: none

fix typos along "<br />"
  src/app/shared/modal/data/modal-content-snippets.data.ts
  src/app/views/data-view/models/resource-detail-header.model.ts
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/source-list.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/data/edition/series/2/section/2a/m38/textcritics.json
  src/assets/js/htmlConverter.js
  src/testing/mock-data/mockResourceDetail.ts
Due: yarn lint-files:fix, yarn format-files:fix

update Op3
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
Due: yarn format-files:fix

update Op4
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
Due: yarn format-files:fix

update Op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

update Op25
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

cont'd
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
