Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @typescript-eslint packages from 5.54.0 to 5.54.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-config-prettier from 8.6.0 to 8.7.0
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 15.2.1 to 15.2.2
  package.json
  yarn.lock
Due: none

adjustmentsn M 317 source-description
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fixes in M 317 Sk4
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): fix edition data for M 317
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): fix item label for M 317 TF1
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

test(app): fix some style conventions for tests
  src/app/app.component.spec.ts
  src/app/shared/table/table-pagination/table-pagination.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix references from and to mockEditionData from tests
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka-table/edition-tka-table.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move functions for sheets to EditionSheetsService
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/services/edition-sheets.service.spec.ts
  src/app/views/edition-view/services/edition-sheets.service.ts
  src/app/views/edition-view/services/edition.service.spec.ts
  src/app/views/edition-view/services/edition.service.ts
  src/app/views/edition-view/services/index.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add possibility to browse svg sheets
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.1 to 15.2.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.35.0 to 8.36.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint-staged from 13.1.2 to 13.2.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump typescript from 4.8.4 to 4.9.5
  package.json
  yarn.lock
Due: none

build(deps): bump tslib from 2.4.1 to 2.5.0
  package.json
  yarn.lock
Due: none

fix(assets): remove unused files
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_1von2_bbt.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Textfassung1_2von2_bbt.svg
Due: none

feature/M30 files update
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-3von11-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-5von11-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_3von11_final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1_5von11_final.svg
Due: yarn format-files:fix

build(deps-dev): bump @typescript-eslint packages from 5.54.1 to 5.55.0
  package.json
  yarn.lock
Due: none

fix(edition): fix condition for displaying sheet footer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @types/node from 16.18.14 to 16.18.16
  package.json
  yarn.lock
Due: none

build(deps): bump rdfstore from v0.9.18-alpha.10 to v0.9.18-alpha.11
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.2 to 15.2.3
  package.json
  yarn.lock
Due: none

fix(assets): update files for M30
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-3von11-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-5von11-final.svg
Due: yarn format-files:fix

fix(assets): fix typos in measure labels for M 30
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
Due: yarn format-files:fix

fix(assets): lint updated svg files for M30
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-3von11-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-5von11-final.svg
Due: none

chore(release): 0.10.2
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add contributors
  CHANGELOG.md
Due: none

fix(shared): remove deprecated scrolling attribute from iframe
  src/app/shared/open-street-map/open-street-map.component.html
  src/app/shared/open-street-map/open-street-map.component.spec.ts
  src/app/shared/open-street-map/open-street-map.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): fix code smells in OrderByPipe (SonarCloudAnalysis)
  src/app/shared/order-by-pipe/order-by.pipe.spec.ts
  src/app/shared/order-by-pipe/order-by.pipe.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(search): refactor functions of BibliographyFormatPipe
  src/app/views/data-view/data-outlets/bibliography/bibliography-format.pipe.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(search): fix badge class in LinkedObjectsComponent
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/linkedobjects/linkedobjects.component.html
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/linkedobjects/linkedobjects.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(app): remove redundant context from undefined assertions
  src/app/core/services/gnd-service/gnd.service.spec.ts
  src/app/side-info/resource-info/resource-info.component.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/props/props.component.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html-content/resource-detail-html-content.component.spec.ts
  src/app/views/data-view/data-outlets/resource-detail/resource-detail-html/resource-detail-html.component.spec.ts
  src/app/views/data-view/data-outlets/search-overview.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail-nav/edition-detail-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/select-results/select-results.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/graph-visualizer/sparql-table/sparql-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
  src/testing/expect-helper.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(search): remove nested ternary operator in ResourceDetail
  src/app/views/data-view/data-outlets/resource-detail/resource-detail.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(shared): fix more code smells in OrderByPipe (SonarCloudAnalysis)
  src/app/shared/order-by-pipe/order-by.pipe.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(side-info): remove commented out code (SonarCloudAnalysis)
  src/app/side-info/side-info-models/resource-info-resources.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @angular/{cli,build-angular} from 15.2.3 to 15.2.4
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
