Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): add item links to m140
  src/assets/data/edition/series/1/section/5/op4/source-description.json
Due: yarn format-files:fix

fix(assets): optimize svgs for AWG I/5 with SVGO
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1-1von5-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1-2von5-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1-3von5-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1-4von5-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk1-5von5-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op23/op23_B_Reihentabelle-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M321_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M321_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op3/M136_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op4/M140_Textfassung1-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M140_Textfassung1-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M140_Textfassung1-3von3-final.svg
Due: none

fix(edition): fix wrong tracking index in tka table
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.html
Due: yarn lint-files:fix, yarn format-files:fix

chore(release): 1.0.1
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

adjust row tables (json files and op. 24: svg)
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/data/edition/series/1/section/2/op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/data/edition/series/1/section/3/op19/folio-convolute.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle-1von2-final.svg
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle-2von2-final.svg
Due: yarn format-files:fix

svg: op. 19, 22, 23, 25, 27
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-3von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op23/op23_B_Reihentabelle-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle-1von1-final.svg
Due: none

minor adjustments in svg files for M 321 Sk1 + Sk2
  src/assets/img/edition/series/1/section/5/op25/M321_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M321_Sk2-1von1-final.svg
Due: none

fix(assets): adjust files for row tables
  src/assets/data/edition/series/1/section/1/op24/folio-convolute.json
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/1/op24/textcritics.json
  src/assets/data/edition/series/1/section/2/op22/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op22/textcritics.json
  src/assets/data/edition/series/1/section/2/op27/folio-convolute.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op27/textcritics.json
  src/assets/data/edition/series/1/section/3/op19/folio-convolute.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op25/folio-convolute.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle-1von2-final.svg
  src/assets/img/edition/series/1/section/1/op24/op24_B_Reihentabelle-2von2-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op22/op22_B_Reihentabelle-3von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-1von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-2von3-final.svg
  src/assets/img/edition/series/1/section/2/op27/op27_B_Reihentabelle-3von3-final.svg
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op23/op23_B_Reihentabelle-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M321_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/M321_Sk2-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle-1von1-final.svg
Due: yarn format-files:fix

style(edition): use rounded corners for sheet viewer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.scss
Due: yarn format-files:fix

refactor(edition): use loading service for edition sheets
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/models/textcritics.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

style(edition): use card style for sheet footer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add fullscreen option to svg sheet viewer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/models/view-box.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

add M_312_Sk1
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/img/edition/series/1/section/5/op23/M312_Sk1-1von1-final.svg
Due: yarn format-files:fix

add M 312 Sk1.1
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/img/edition/series/1/section/5/op23/M312_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op23/M312_Sk1_1-1von1-final.svg
Due: yarn format-files:fix

fix row table op. 19
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle-1von1-final.svg
Due: none

refactor(shared): move fullscreen toggle into separate component
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.html
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.scss
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.spec.ts
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.ts
  src/app/shared/shared.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix source description A of op. 23
  src/assets/data/edition/series/1/section/5/op23/source-description.json
Due: yarn format-files:fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

add M 312 Sk1 + Sk1.1 + Sk3
  src/assets/img/edition/series/1/section/5/op23/M312_Sk1-1von1-final.svg
  src/assets/img/edition/series/1/section/5/op23/M312_Sk3-1von1-final.svg
Due: none

add M 312 Sk3
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/img/edition/series/1/section/5/op23/M312_Sk3-1von1-final.svg
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
