Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

chore(release): 0.12.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

build(app): update zenodo config file
  .zenodo.json
Due: none

feat(assets): add files + source description A
  src/assets/data/edition/series/1/section/5/op3/intro.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-list.json
Due: yarn format-files:fix

fix(assets): fixes in source descriptions
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
Due: yarn format-files:fix

more fixes in source descriptions.
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fixes in source description
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

add source description B + C
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

fix(home): fix link to DaSCH mission statement
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): update source descriptions for AWG I/5
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

ci(gh-actions): upload build artifacts
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): upload build artifact only for latest node version
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): use different build scripts for develop/main
  .github/workflows/ci_workflow.yml
  package.json
Due: none

ci(gh-actions): use dev repo for develop build
  .github/workflows/ci_workflow.yml
Due: none

add source descriptions D + H + I + J
  src/assets/data/edition/series/1/section/5/op3/source-description.json
Due: yarn format-files:fix

ci(gh-actions): remove obsolete node setup
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): copy only content of dist folder
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): dry run deployment from develop
  .github/workflows/ci_workflow.yml
  angular.json
  package.json
Due: none

add source description L (op. 3) + B (op. 4) + files
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/intro.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-list.json
Due: yarn format-files:fix

ci(gh-actions): adjust build workflow for dev
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): bring back node setup
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): build dev build once more
  .github/workflows/ci_workflow.yml
  angular.json
  package.json
Due: none

ci(gh-actions): use existing deploy command
  .github/workflows/ci_workflow.yml
  package.json
Due: none

ci(gh-actions): move script args to package.json
  .github/workflows/ci_workflow.yml
  angular.json
  package.json
Due: none

ci(gh-actions): adjust gitHead variable
  package.json
Due: none

ci(gh-actions): fix typo
  package.json
Due: none

ci(gh-actions): use prebuilt artifacts
  .github/workflows/ci_workflow.yml
  package.json
Due: none

ci(gh-actions): remove dry-run flag
  package.json
Due: none

ci(gh-actions): switch to deploy key
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): refactor deploy_dev job
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): fix file syntax
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): use correct directory
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): get git sha and fix typo
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): remove dry-run
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): change baseHref for dev build
  package.json
Due: none

ci(gh-actions): get sha from describe
  .github/workflows/ci_workflow.yml
Due: none

ci(gh-actions): reduce retention period for artifacts
  .github/workflows/ci_workflow.yml
Due: none

build(app): move build attachments into separate script
  package.json
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
