Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): update ci_workflow.yml
  .github/workflows/ci_workflow.yml
Due: none

refactor(app): separate app router options
  src/app/app-routing.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add footnotes to edition intro
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.ts
  src/app/views/edition-view/models/intro.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): corrections of source list in comparison to print version
  src/assets/data/edition/series/1/section/5/op12/source-list.json
Due: yarn format-files:fix

fix(assets): add missing data files and placeholders for m22
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/graph.json
  src/assets/data/edition/series/2/section/2a/m22/intro.json
  src/assets/data/edition/series/2/section/2a/m22/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m22/svg-sheets.json
Due: yarn format-files:fix

fix(shared): fix centering of license
  src/app/shared/license/license.component.html
  src/app/shared/license/license.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
Due: yarn lint-files:fix, yarn format-files:fix

feature(assets): add source description Ab
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature(assets): add source description Ac + Ad
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feat(assets): add firm signs in source description and folder
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/img/edition/firm-signs/je/no2_lin12/firm_je_no2_lin12_c.png
  src/assets/img/edition/firm-signs/je/no7_lin22/firm_je_no7_lin22.png
Due: yarn format-files:fix

feature(assets): add source description C
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature(assets): add source description D
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

minor fix
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature(assets): add source description E
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(assets): fix brackets in source list of op12
  src/assets/data/edition/series/1/section/5/op12/source-list.json
Due: yarn format-files:fix

feature(assets): add source description F (+ some fixes in B and C)
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature(asstes): add source description G (+ fixes in E)
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix spaces, strikethroughs and superscripts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

feature(assets): add elements in source list of Op25
  src/assets/data/edition/series/1/section/5/op25/source-list.json
Due: yarn format-files:fix

fix(assets): lint textcritics file for m22
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
Due: yarn format-files:fix

fix(assets): fix wrong id in textcritics for m22
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
Due: yarn format-files:fix

fix(assets): fix supplied classes in m30 Sk1
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-6von11-final.svg
  src/assets/img/edition/series/2/section/2a/m30/M30_Sk1-7von11-final.svg
Due: none

feature(assets) add source description E
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

fix(assets): fix typos in textcritics for m22
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk12-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk29-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk33-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk4-1von2-final.svg
Due: yarn format-files:fix

fix(assets): add link boxes for m22
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk10-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk14-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk15-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk17-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk18-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk19-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk20-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk21-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk21-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk21-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk22-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk23-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk24-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk25-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk25-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk26-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk26-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk27-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk27_1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk27_1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk28_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk31-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk32_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk32_1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk9-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m22/M22_Sk9-2von2-final.svg
Due: yarn format-files:fix

feat(edition): activate edition complex M 22
  src/app/views/edition-view/data/edition-complexes.data.ts
  src/app/views/edition-view/data/edition-outline.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add M22 to menus
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(assets): add source descriptions for op12 (Ab, Ac, Ad)
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/img/edition/firm-signs/je/no2_lin12/firm_je_no2_lin12_c.png
  src/assets/img/edition/firm-signs/je/no7_lin22/firm_je_no7_lin22.png
Due: yarn format-files:fix

refactor(edition): rename WritingMaterialFirmSignLocation model
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/models/source-description.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add watermarks to source description
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/models/source-description.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): datafy writingMaterial for op12 sources
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): make subsources navigable
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.ts
  src/assets/data/edition/series/1/section/5/op12/source-list.json
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
