Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): adjust naming of writing material children
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op20/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m36/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
  src/assets/data/edition/series/2/section/2a/m38/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m40/source-description.json
  src/assets/data/edition/series/2/section/2a/m41/source-description.json
Due: yarn format-files:fix

refactor(edition): rename desc -> conditions
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): rename desc -> conditions
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op20/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m29/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m36/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
  src/assets/data/edition/series/2/section/2a/m38/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m40/source-description.json
  src/assets/data/edition/series/2/section/2a/m41/source-description.json
  src/assets/data/edition/series/2/section/2a/m43/source-description.json
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
  src/assets/data/edition/series/2/section/2a/m76/source-description.json
Due: yarn format-files:fix

refactor(edition): rename description -> physDesc
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): rename description -> physDesc
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op20/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/m143/source-description.json
  src/assets/data/edition/series/1/section/5/m144/source-description.json
  src/assets/data/edition/series/1/section/5/m145/source-description.json
  src/assets/data/edition/series/1/section/5/m146/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/1/section/5/op3/source-description.json
  src/assets/data/edition/series/1/section/5/op4/source-description.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/m29/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m36/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
  src/assets/data/edition/series/2/section/2a/m38/source-description.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m40/source-description.json
  src/assets/data/edition/series/2/section/2a/m41/source-description.json
  src/assets/data/edition/series/2/section/2a/m43/source-description.json
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
  src/assets/data/edition/series/2/section/2a/m76/source-description.json
Due: yarn format-files:fix

refactor(edition): move writing materials into separate component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.module.ts
  src/app/views/edition-view/models/index.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

chore(release): 1.3.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

fix(edition): remove non-existing dot from short text of trademarks
  src/app/views/edition-view/data/edition-trademarks.data.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): optimize svgs for m33 with SVGO
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

fix(assets): fix linkboxes and tkk in m33
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-4von4-final.svg
Due: yarn format-files:fix

fix(assets): fix glyphs and textcritics
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m75/textcritics.json
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-1von2-final.svg
Due: yarn format-files:fix

fix(assets): fix orientation of m9 on folio overview
  src/assets/data/edition/series/2/section/2a/m33/folio-convolute.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m33/source-list.json
  src/assets/data/edition/series/2/section/2a/m33/source-list.json
Due: yarn format-files:fix

fix(assets): adjust physDesc structure
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
Due: yarn format-files:fix

fix(assets): adjust folio overview for m33
  src/assets/data/edition/series/2/section/2a/m33/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m43/folio-convolute.json
Due: yarn format-files:fix

feat(edition): add option to reverse sheets in folio overview
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/folio.service.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/folio.service.ts
  src/app/views/edition-view/models/folio-calculation.model.ts
  src/app/views/edition-view/models/folio-svg-data.model.ts
  src/app/views/edition-view/models/folio.model.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m33/source-description.json
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
Due: yarn format-files:fix

fix(assets): add link to corrections in source Bb
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
Due: yarn format-files:fix

fix(assets): sync source list in m33
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
Due: yarn format-files:fix

feat(assets): add files for m33
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m23/textcritics.json
  src/assets/data/edition/series/2/section/2a/m30/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m31/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m33/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m33/graph.json
  src/assets/data/edition/series/2/section/2a/m33/source-description.json
  src/assets/data/edition/series/2/section/2a/m33/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m33/source-list.json
  src/assets/data/edition/series/2/section/2a/m33/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m33/textcritics.json
  src/assets/data/edition/series/2/section/2a/m39/source-description.json
  src/assets/data/edition/series/2/section/2a/m43/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m75/textcritics.json
  src/assets/img/edition/series/2/section/2a/m23/M23_Sk3-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Sk1-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m33/M33_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

fix(assets): activate m32
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
