Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

build(app): adjust config values after update to Angular v18
  .gitignore
  angular.json
  tsconfig.json
Due: none

build(app): adjust content files after update to Angular v18
  src/app/core/view-container/view-container.component.html
  src/app/views/data-view/data-outlets/search-overview.component.html
  src/app/views/data-view/data-view.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail-nav/edition-detail-nav.component.html
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-series-detail.component.html
  src/app/views/edition-view/edition-outlets/edition-type/edition-type.component.html
  src/app/views/edition-view/edition-view.component.html
Due: yarn lint-files:fix, yarn format-files:fix

build(app): update to angular-eslint v18
  package.json
  yarn.lock
Due: none

docs(README): udpate supported minimal node version
  README.md
Due: none

Update src/assets/data/edition/series/2/section/2a/m41/source-description_m41_textcritics.json
  src/assets/data/edition/series/2/section/2a/m41/source-description_m41_textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m40/source-description_m40_textcritics.json
  src/assets/data/edition/series/2/section/2a/m40/source-description_m40_textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m38/source-description_m38_textcritics.json
  src/assets/data/edition/series/2/section/2a/m38/source-description_m38_textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m29/source-description_m29_textcritics.json
  src/assets/data/edition/series/2/section/2a/m29/source-description_m29_textcritics.json
Due: yarn format-files:fix

chore(release): 0.12.2
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

fix tabs + " in source-list of op. 23
  src/assets/data/edition/series/1/section/5/op23/source-list.json
Due: yarn format-files:fix

fix(assets): fix tabs and quotes in source-list op. 23
  src/assets/data/edition/series/1/section/5/op23/source-list.json
Due: yarn format-files:fix

build(deps): remove `@fortawesome/fontawesome-svg-core` from deps
  package.json
  src/app/core/footer/footer-poweredby/footer-poweredby.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/extended-search-form/extended-search-form.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

fix svg: M136_Sk1-1von1-final
  src/assets/img/edition/series/1/section/5/op3/M136_Sk1-1von1-final.svg
Due: none

refactor(shared): simplify and reduce size of spinner
  src/app/shared/twelve-tone-spinner/twelve-tone-spinner.component.html
  src/app/shared/twelve-tone-spinner/twelve-tone-spinner.component.scss
  src/app/shared/twelve-tone-spinner/twelve-tone-spinner.component.spec.ts
  src/app/shared/twelve-tone-spinner/twelve-tone-spinner.component.ts
  src/index.html
  src/index.style.scss
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move sheet viewer nav into separate component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/edition-svg-sheet-viewer-nav.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer-nav/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add corrections to source description
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

style(app): fix linting errors after update
  src/app/side-info/edition-info/edition-info.component.html
  src/app/side-info/resource-info/resource-info.component.html
  src/app/views/data-view/data-outlets/search-panel/fulltext-search-form/fulltext-search-form.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.html
  src/app/views/edition-view/edition-view.component.html
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move source description into own module
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): use correct headings for source desc corrections
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move corrections into separate component
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.module.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): add correction ids
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(assets): remove unused ids from corrections in op12
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

test(edition): add tests for source description corrections
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): mark reversed systems in m22
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
Due: yarn format-files:fix

fix(assets): fix description and link of corrections in m212
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix
