Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

docs(README): fix contributors names
  README.md
Due: none

build(deps): bump rdfstore from v0.9.18-alpha.8 to v0.9.18-alpha.9
  package.json
  yarn.lock
Due: none

add links to sigla in comments to M 317.
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

build(deps-dev): bump @angular-eslint packages from 15.2.0 to 15.2.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.51.0 to 5.52.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @commitlint packages from 17.4.2 to 17.4.3
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.33.0 to 8.34.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-jsdoc from 39.8.0 to 40.0.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump lint-staged from 13.1.1 to 13.1.2
  package.json
  yarn.lock
Due: none

build(deps-dev): bump webpack-bundle-analyzer from 4.7.0 to 4.8.0
  package.json
  yarn.lock
Due: none

build(deps-dev): clean up yarn.lock file after updates
  yarn.lock
Due: none

add svgGroupId + minor fixes
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle_21220119_1von1_path.svg
Due: yarn format-files:fix

add svgGroupId
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1von1_220718_path.svg
Due: yarn format-files:fix

add class="link-box"
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
Due: none

add svgGroupId
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3von4_220718_path.svg
Due: yarn format-files:fix

add svgGroupId
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
Due: yarn format-files:fix

add svgGroupId + minor adjustments
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1von4_220718_path.svg
Due: yarn format-files:fix

feat(assets): add svgGroupId for M 317
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk2_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_1von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3_1von1_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_3von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_4von4_220718_path.svg
  src/assets/img/edition/series/1/section/5/op25/op25_C_Reihentabelle_21220119_1von1_path.svg
Due: yarn format-files:fix

fix sigla in textcritics and svg-link-boxes
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5_1von1_220610_path.svg
Due: yarn format-files:fix

fix(assets): fix sigla in textcritics and svg-link-boxes for M 212
  src/assets/data/edition/series/1/section/5/op12/textcritics.json
  src/assets/img/edition/series/1/section/5/op12/M212_Sk2_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk3_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk4_1von1_220610_path.svg
  src/assets/img/edition/series/1/section/5/op12/M212_Sk5_1von1_220610_path.svg
Due: yarn format-files:fix

fix(assets): add links in comments to M 317
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): fix order of SVG overlays in M 137 Sk4b and Sk3.1
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
  src/assets/img/edition/series/1/section/5/op25/M317_Sk3_1_1von1_220715_path.svg
  src/assets/img/edition/series/1/section/5/op25/M317_Sk4_2von4_220718_path.svg
Due: yarn format-files:fix

build(deps-dev): bump @angular/{cli,build-angular} from 15.1.5 to 15.1.6
  package.json
  yarn.lock
Due: none

build(deps): bump @angular packages from 15.1.4 to 15.1.5
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @commitlint packages from 17.4.3 to 17.4.4
  package.json
  yarn.lock
Due: none

add svgGroupId + minor adjustments
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle_20220112_1von1_path.svg
Due: yarn format-files:fix

add svgGroupId
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle_20220112_1von1_path.svg
Due: yarn format-files:fix

feat(assets): add svgGroupId for op19 row table
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
  src/assets/img/edition/series/1/section/3/op19/op19_B_Reihentabelle_20220112_1von1_path.svg
Due: yarn format-files:fix

fix(assets): fix textcritics id for op19 row table
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

add svgGroupId
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/img/edition/series/1/section/5/op23/op23_B_Reihentabelle_20220311_1von1_path.svg
Due: yarn format-files:fix

feat(assets): add svgGroupId for op23 row table
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
  src/assets/img/edition/series/1/section/5/op23/op23_B_Reihentabelle_20220311_1von1_path.svg
Due: yarn format-files:fix

fix(assets): fix textcritics id for op23 row table
  src/assets/data/edition/series/1/section/5/op23/textcritics.json
Due: yarn format-files:fix

feat(edition): add Skizzenkommentar to SVG view
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add and fix tests after changes for SvgSheetFooter
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix length of hypen in textcritics of op19
  src/assets/data/edition/series/1/section/3/op19/textcritics.json
Due: yarn format-files:fix

fix(edition): fix display of sketch commentary if empty
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.html
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @typescript-eslint packages from 5.52.0 to 5.53.0
  package.json
  yarn.lock
Due: none

fix(edition): add overlayHoverFillColor to SVG viewer
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename EditionSvgSheetCmp to EditionSvgSheetViewerCmp
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.module.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/index.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/edition-svg-sheet.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet/index.ts
Due: yarn lint-files:fix, yarn format-files:fix

feature/m30_newfiles
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_10von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_11von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_1von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_2von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_3von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_4von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_5von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_6von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_7von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_8von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/M30_Sk1_9von11_final.svg
  src/assets/data/edition/series/2/section/2a/m30/source-list.json
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
Due: yarn format-files:fix
