Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix supplied classes
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1_2-1von1-final.svg
Due: none

feat(assets): add files for m116
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m116/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m116/graph.json
  src/assets/data/edition/series/2/section/2a/m116/source-description.json
  src/assets/data/edition/series/2/section/2a/m116/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m116/source-list.json
  src/assets/data/edition/series/2/section/2a/m116/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m116/textcritics.json
  src/assets/data/edition/series/2/section/2a/m75/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m75/source-description.json
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk1_3-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk2-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk2-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk2-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Sk2-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m116/M116_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m46 with SVGO
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk4-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk5-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk6_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk8-1von1-final.svg
Due: none

Update src/assets/data/edition/series/2/section/2a/m46/textcritics.json
  src/assets/data/edition/series/2/section/2a/m46/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
Due: yarn format-files:fix

feature/m46_corr
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/data/edition/series/2/section/2a/m46/textcritics.json
Due: yarn format-files:fix

fix(assets): fix typo
  src/assets/data/edition/series/2/section/2a/m46/textcritics.json
Due: yarn format-files:fix

fix(assets): deactivate linkbox
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk9-1von1-final.svg
Due: none

fix(assets): fix folio overview
  src/assets/data/edition/series/2/section/2a/m46/folio-convolute.json
Due: yarn format-files:fix

fix(assets): add link to Sk5 from TF1
  src/assets/data/edition/series/2/section/2a/m46/textcritics.json
Due: yarn format-files:fix

build(deps): bump rdfstore from v0.9.18-alpha.16 to v0.9.18-alpha.18
  package.json
  yarn.lock
Due: none

build(app): update yarn
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  package.json
Due: none

feature/m46_corr
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk5-2von2-final.svg
Due: yarn format-files:fix

fix(assets): optimize svgs for m46 with SVGO
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk5-2von2-final.svg
Due: none

feat(assets): add files for m46
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/m46/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m46/graph.json
  src/assets/data/edition/series/2/section/2a/m46/source-description.json
  src/assets/data/edition/series/2/section/2a/m46/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m46/source-list.json
  src/assets/data/edition/series/2/section/2a/m46/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m46/textcritics.json
  src/assets/img/edition/series/2/section/2a/m41/M41_Sk1_2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk2-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3-1von4-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3-2von4-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3-3von4-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3-4von4-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk3_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk4-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk5-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk5-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk6-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk6-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk6_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk7-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk8-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Sk9-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/2/section/2a/m46/M46_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

fix(assets): sync source list and links in m45
  src/assets/data/edition/series/2/section/2a/m45/source-description.json
  src/assets/data/edition/series/2/section/2a/m45/svg-sheets.json
Due: yarn format-files:fix

refactor(app): fix imports
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.spec.ts
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro-content/edition-intro-content.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro-content/edition-intro-content.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-intro-card/edition-section-detail-intro-card.component.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-placeholder/edition-section-detail-placeholder.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): add missing documentation
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(edition): fix typo
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(app): fix imports and docs
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.spec.ts
  src/app/shared/fullscreen-toggle/fullscreen-toggle.component.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro-content/edition-intro-content.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro-content/edition-intro-content.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-details/source-description-details.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-writing-materials/source-description-writing-materials.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-intro-card/edition-section-detail-intro-card.component.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-section-detail/edition-section-detail-placeholder/edition-section-detail-placeholder.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
