Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js,jsx,html}": "yarn lint-files:fix",
    "src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}": "yarn format-files:fix"
}

build(deps-dev): bump eslint packages
  package.json
  yarn.lock
Due: none

test(app): fix inting errors after update
  src/app/views/edition-view/services/edition-outline.service.ts
  src/app/views/edition-view/services/edition-sheets.service.spec.ts
  src/app/views/edition-view/services/edition-state.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/testing/clean-up-helper.ts
  tsconfig.json
Due: yarn lint-files:fix, yarn format-files:fix

test(search): improve tests for search-panel
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.html
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.spec.ts
  src/app/views/data-view/data-outlets/search-panel/search-panel.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

update M 137 TF1
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
Due: yarn format-files:fix

add M 137 TF2
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
Due: yarn format-files:fix

update M 137 TF2
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung2-2von2-final.svg
Due: none

feat(assets): add M136 Textfassungen 1 & 2
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M136_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M136_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M136_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M136_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

add M 137 TF3
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung3-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung3-2von2-final.svg
Due: yarn format-files:fix

udate after review: Korrekturen in Db (noch ein paar mehr gefunden)
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op4/textcritics.json
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
Due: yarn format-files:fix

update after review.
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
  src/assets/img/edition/series/1/section/5/op4/M142_Textfassung1-2von2-final.svg
Due: yarn format-files:fix

feat(assets): add M142 Textfassungen 1 & 2
  src/assets/data/edition/series/1/section/5/op4/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
  src/assets/img/edition/series/1/section/5/op4/M142_Textfassung1-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op4/M142_Textfassung1-2von2-final.svg
  src/assets/img/edition/series/1/section/5/op4/M142_Textfassung2-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op4/M142_Textfassung2-2von2-final.svg
Due: yarn format-files:fix

feat(assets): add M139 Textfassungen 1 & 2
  src/assets/data/edition/series/1/section/5/op4/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op4/textcritics.json
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung1-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung1-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung1-3von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung2-1von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung2-2von3-final.svg
  src/assets/img/edition/series/1/section/5/op4/M139_Textfassung2-3von3-final.svg
Due: yarn format-files:fix

add M 134 TF4
  src/assets/data/edition/series/1/section/5/op3/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op3/textcritics.json
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung4-1von2-final.svg
  src/assets/img/edition/series/1/section/5/op3/M137_Textfassung4-2von2-final.svg
Due: yarn format-files:fix
