Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix link boxes for m35/42 Sk1.1 and Sk2
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-6von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1_1-1von1-final.svg
Due: yarn format-files:fix

fix(edition): add clef_key to supplied classes map
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add M35/42 to menus
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): add helper function for expected order of headers
  src/app/side-info/edition-info/edition-info.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): mute unused link-boxes for now
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-2von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1-6von6-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1_1-1von1-final.svg
Due: none

chore(release): 0.11.5
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

fix(assets): add convolute ids for text versions
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m30/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m31/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m34/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m35_42/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m37/svg-sheets.json
Due: yarn format-files:fix

fix(edition): fix overlapping of svgs on reload
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): create deep instead of shallow copy of mock objects
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-graph/edition-graph.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-list/source-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/textcritics-list/textcritics-list.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-accolade.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-footer/edition-svg-sheet-footer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav-item/edition-svg-sheet-nav-item.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-nav/edition-svg-sheet-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-convolute.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/edition-folio-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-table/edition-tka-table.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-row-tables/edition-row-tables.component.spec.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition-sheets.service.spec.ts
  src/app/views/edition-view/services/edition-sheets.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix reload of svgs again
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
  src/app/views/edition-view/services/edition-sheets.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): move convolutes to sheet contents
  src/assets/data/edition/series/1/section/1/op24/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op22/svg-sheets.json
  src/assets/data/edition/series/1/section/2/op27/svg-sheets.json
  src/assets/data/edition/series/1/section/3/op19/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op12/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op23/svg-sheets.json
  src/assets/data/edition/series/1/section/5/op25/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m30/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m31/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m34/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m35_42/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m37/svg-sheets.json
Due: yarn format-files:fix

fix(edition): move convolute to sheet content model
  src/app/views/edition-view/models/edition-svg-sheet.model.ts
  src/app/views/edition-view/services/edition-sheets.service.spec.ts
  src/app/views/edition-view/services/edition-sheets.service.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): update condition for displaying sheet viewer switch
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): add option to display reversed folio items
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-convolute/edition-folio-viewer/folio.service.ts
  src/app/views/edition-view/models/folio-calculation.model.ts
  src/app/views/edition-view/models/folio-svg-data.model.ts
  src/app/views/edition-view/models/folio.model.ts
  src/assets/data/edition/series/1/section/5/op12/folio-convolute.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): unify description of writing material in op25
  src/assets/data/edition/series/1/section/5/op25/source-description.json
Due: yarn format-files:fix

refactor(assets): restructure firm sign folder
  src/app/views/edition-view/data/edition-firm-signs.data.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/img/edition/firm-signs/je/no15_lin16/firm_je_no15_lin16.png
  src/assets/img/edition/firm-signs/je/no2_lin12/firm_je_no2_lin12.png
  src/assets/img/edition/firm-signs/je/no2_lin12/firm_je_no2_lin12_b.png
  src/assets/img/edition/firm-signs/je/no3_lin14/firm_je_no3_lin14.png
  src/assets/img/edition/firm-signs/je/no5_lin18/firm_je_no5_lin18_b.png
  src/assets/img/edition/firm-signs/je/no5_lin18/firm_je_no5_lin18_c.png
  src/assets/img/edition/firm-signs/je/no5_lin18/firm_je_no5_lin18_d.png
  src/assets/img/edition/firm-signs/je/no6_lin20/firm_je_no6_lin20.png
  src/assets/img/edition/firm-signs/je/no9_lin28/firm_je_no9_lin28.png
Due: yarn lint-files:fix, yarn format-files:fix

chore(release): 0.11.6
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix typo in Verlaufsskizze
  src/assets/data/edition/series/1/section/5/op25/graph.json
  src/assets/data/edition/series/1/section/5/op25/textcritics.json
Due: yarn format-files:fix

fix(assets): fix supplied class names
  src/assets/img/edition/series/2/section/2a/m31/M31_Sk5-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/m34/M34_Sk1_1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk1_1-1von1-final.svg
Due: none

fix(assets): unify wording in sketch commentary
  src/assets/data/edition/series/2/section/2a/m30/textcritics.json
  src/assets/data/edition/series/2/section/2a/m31/textcritics.json
  src/assets/data/edition/series/2/section/2a/m34/textcritics.json
  src/assets/data/edition/series/2/section/2a/m35_42/textcritics.json
  src/assets/data/edition/series/2/section/2a/m37/textcritics.json
Due: yarn format-files:fix

fix(home): fix wording on landing page
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): add firm signs for source B and D of m35/42
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename writingMaterialString
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): fix tests for writing material
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): fix folio info for firm signs in vol. II/2a
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
Due: yarn format-files:fix

refactor(edition): use helper method for writing instruments
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

feat(edition): datafy writing material of source description
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/app/views/edition-view/models/index.ts
  src/app/views/edition-view/models/source-description.model.ts
  src/assets/data/edition/series/1/section/1/op24/source-description.json
  src/assets/data/edition/series/1/section/2/op22/source-description.json
  src/assets/data/edition/series/1/section/2/op27/source-description.json
  src/assets/data/edition/series/1/section/3/op19/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op23/source-description.json
  src/assets/data/edition/series/1/section/5/op25/source-description.json
  src/assets/data/edition/series/2/section/2a/m30/source-description.json
  src/assets/data/edition/series/2/section/2a/m31/source-description.json
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
  src/assets/data/edition/series/2/section/2a/m35_42/source-description.json
  src/assets/data/edition/series/2/section/2a/m37/source-description.json
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): unify syntax for test descriptions
  src/app/shared/license/license.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-accolade/edition-svg-sheet-viewer/edition-svg-sheet-viewer.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-tka/edition-tka-description/edition-tka-description.component.spec.ts
  src/app/views/edition-view/services/edition-svg-drawing.service.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): lint source description file
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): remove redundant mapping of firm signs
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description.component.ts
  src/testing/mock-data/mockEditionData.ts
Due: yarn lint-files:fix, yarn format-files:fix

featuer/m22_json
  src/assets/data/edition/series/2/section/2a/m22/textcritics.json
Due: yarn format-files:fix

feature/m37_update_sk1und2
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk2-1von1-final.svg
Due: none

fix(assets): update svg files for m37 Sk1 & Sk2
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk2-1von1-final.svg
Due: none

fix(assets): optimize svgs with SVGO
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m37/M37_Sk2-1von1-final.svg
Due: none

feature/m35_42_sk2_update
  src/assets/img/edition/series/2/section/2a/m35_42/M35_42_Sk2-1von1-final.svg
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
