Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

Verlinkung von TFs in source description
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
Due: yarn format-files:fix

Verlinkung von TFs in textcritics Textfassungen 1-6 (TF3 Takt 45: "TF 2 T. 2 und TF 4-6 T. 45 resp. 46" ergänzt) (vereinheitlichung: ein "bzw." auf ein "resp." umgeändert)
  src/assets/data/edition/series/2/section/2a/m114/textcritics.json
Due: yarn format-files:fix

Verlinkung von TFs in textcritics Skizzen
  src/assets/data/edition/series/2/section/2a/m114/textcritics.json
Due: yarn format-files:fix

39->30
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
Due: yarn format-files:fix

33->30
  src/assets/data/edition/series/2/section/2a/m114/source-description.json
Due: yarn format-files:fix

fix(assets): activate m*409
  src/assets/data/edition/edition-outline.json
Due: yarn format-files:fix

fix(assets): update m*409
  src/app/views/edition-view/edition-route-constants.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/mstar409/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mstar409/intro.json
  src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
  src/assets/data/edition/series/2/section/2a/mstar409/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mstar409/source-list.json
  src/assets/data/edition/series/2/section/2a/mstar409/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mstar409/textcritics.json
  src/assets/img/edition/series/2/section/2a/mstar409/Mstar_409_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mstar409/Mstar_409_Textfassung2-1von1-final.svg
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): update syntax in m*409
  src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
Due: yarn format-files:fix

fix(assets): activate m*410
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
  src/assets/data/edition/series/2/section/2a/mx410/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx410/graph.json
  src/assets/data/edition/series/2/section/2a/mx410/intro.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx410/source-list.json
  src/assets/data/edition/series/2/section/2a/mx410/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx410/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx410/Mx410_Textfassung1-1von1-final.svg
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): add links to m*410
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/mx410/source-description.json
Due: yarn format-files:fix

fix(assets): validate edition types in sheets.json
  src/app/views/edition-view/services/edition-sheets.service.spec.ts
  src/app/views/edition-view/services/edition-sheets.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(assets): fix failing test for m*410
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

M* 409: Verlinkungen in source-description und textcritics
  src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
  src/assets/data/edition/series/2/section/2a/mstar409/textcritics.json
Due: yarn format-files:fix

M* 410: Verlinkungen in textcritics.
  src/assets/data/edition/series/2/section/2a/mx410/textcritics.json
Due: yarn format-files:fix

Verlinkung in textcritics
  src/assets/data/edition/series/2/section/2a/mx410/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/mstar409/textcritics.json
  src/assets/data/edition/series/2/section/2a/mstar409/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
  src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
Due: yarn format-files:fix

fix(assets): activate m*412
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn lint-files:fix, yarn format-files:fix

Verlinkung von M23 in textcritics (M* 409)
  src/assets/data/edition/series/2/section/2a/mstar409/source-description.json
Due: yarn format-files:fix

fix(assets): update files for m*412
  src/assets/data/edition/series/2/section/2a/m+412/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx412/graph.json
  src/assets/data/edition/series/2/section/2a/mx412/intro.json
  src/assets/data/edition/series/2/section/2a/mx412/source-description.json
  src/assets/data/edition/series/2/section/2a/mx412/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx412/source-list.json
  src/assets/data/edition/series/2/section/2a/mx412/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx412/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-3von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

M* 412: Verlinkungen und TKK Group-Ids
  src/assets/data/edition/series/2/section/2a/mx412/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-1von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Sk1-2von3-final.svg
  src/assets/img/edition/series/2/section/2a/mx412/Mx412_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

fix(assets): activate m*413
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn lint-files:fix, yarn format-files:fix

fix(assets): optimize svgs for m*413 with SVGO
  src/assets/img/edition/series/2/section/2a/m+413/M+413_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+413/M+413_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx413/Mx413_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx413/Mx413_Textfassung1-1von1-final.svg
Due: none

fix(assets): update files for m*413
  src/assets/data/edition/series/2/section/2a/m+413/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m22/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m32/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx413/graph.json
  src/assets/data/edition/series/2/section/2a/mx413/intro.json
  src/assets/data/edition/series/2/section/2a/mx413/source-description.json
  src/assets/data/edition/series/2/section/2a/mx413/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx413/source-list.json
  src/assets/data/edition/series/2/section/2a/mx413/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx413/textcritics.json
Due: yarn format-files:fix

fix(assets): update files for m*413
  src/assets/data/edition/series/2/section/2a/m23/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/m32/folio-convolute.json
Due: yarn format-files:fix

fix(assets): update files for m*409
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-complexes.service.spec.ts
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/edition-outline.json
Due: yarn lint-files:fix, yarn format-files:fix

M* 413: Verlinkungen in textcritics.
  src/assets/data/edition/series/2/section/2a/mx413/textcritics.json
Due: yarn format-files:fix

Update src/assets/data/edition/series/2/section/2a/mx412/textcritics.json
  src/assets/data/edition/series/2/section/2a/mx412/textcritics.json
Due: yarn format-files:fix

fix(assets): update files for m*409
  src/assets/data/edition/edition-complexes.json
  src/assets/data/edition/series/2/section/2a/m22/source-description.json
  src/assets/data/edition/series/2/section/2a/m23/source-description.json
  src/assets/data/edition/series/2/section/2a/mstar409/textcritics.json
  src/assets/data/edition/series/2/section/2a/mx409/folio-convolute.json
  src/assets/data/edition/series/2/section/2a/mx409/intro.json
  src/assets/data/edition/series/2/section/2a/mx409/source-description.json
  src/assets/data/edition/series/2/section/2a/mx409/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/mx409/source-list.json
  src/assets/data/edition/series/2/section/2a/mx409/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/mx409/textcritics.json
  src/assets/img/edition/series/2/section/2a/mx409/Mx409_Textfassung1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/mx409/Mx409_Textfassung2-1von1-final.svg
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
