Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionInfoComponent
  src/app/side-info/edition-info/edition-info.component.html
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
  src/app/views/edition-view/edition-route-constants.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionDetailNav
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail-nav/edition-detail-nav.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-detail-nav/edition-detail-nav.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in HomeView
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in Navbar
  src/app/core/navbar/navbar.component.html
  src/app/core/navbar/navbar.component.spec.ts
  src/app/core/navbar/navbar.component.ts
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionComplex
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-complex.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionIntro
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionReport
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionSheets
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-sheets/edition-sheets.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

test(edition): rename variables in Intro and Report tests
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/edition-report.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in EditionView
  src/app/views/edition-view/edition-view.component.html
  src/app/views/edition-view/edition-view.component.spec.ts
  src/app/views/edition-view/edition-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS in SourceEvaluation
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-evaluation/source-evaluation.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): fix asset path construction
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/services/edition-data.service.spec.ts
  src/app/views/edition-view/services/edition-data.service.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): use EDITION_ROUTE_CONSTANTS consistently
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-intro/edition-intro.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-series-detail/edition-series-detail.component.ts
  src/app/views/home-view/home-view.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

fix(edition): remove route constants from EditionComplex model
  src/app/views/edition-view/models/edition-complex.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @angular-eslint packages from 14.1.2 to 14.2.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.42.1 to 5.43.0
  package.json
  yarn.lock
Due: none

build(deps): bump @fortawesome packages from 6.2.0 to 6.2.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular/cli from 14.2.10 to 14.2.11
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular-eslint packages from 14.1.2 to 14.4.0
  package.json
  yarn.lock
Due: none

build(deps): bump angular related packages from 14.2.10 to 14.2.11
  package.json
  yarn.lock
Due: none

build(deps): bump @ng-bootstrap/ng-bootstrap from 13.1.0 to 13.1.1
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @commitlint related packages from 17.2.0 to 17.3.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint-plugin-jsdoc from 39.6.2.0 to 39.6.3
  package.json
  yarn.lock
Due: none

style(app): apply changes after prettier update
  src/app/shared/table/table.component.html
  src/app/views/contact-view/contact-view.component.html
Due: yarn lint-files:fix, yarn format-files:fix

ci(gh-actions): adjust version for node 14
  .github/workflows/ci_workflow.yml
Due: none

build(deps): update @angular to version 15
  .browserslistrc
  package.json
  src/app/app-routing.module.ts
  src/app/core/services/conversion-service/conversion.service.ts
  src/test.ts
  tsconfig.json
  yarn.lock
Due: yarn lint-files:fix, yarn format-files:fix

build(app): update targetted ES versions in tsconfig
  angular.json
  tsconfig.json
Due: none

build(deps-dev): bump @angular-eslint packages from 14.4.0 to 15.1.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint packages from 5.43.0 to 5.44.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @typescript-eslint/parser from 5.44.0 to 5.45.0
  package.json
  yarn.lock
Due: none

fix(assets): fix typo in source description for M34 Sk3
  src/assets/data/edition/series/2/section/2a/m34/source-description.json
Due: yarn format-files:fix

fix(edition): use editionRouteConstants in editionInfo
  src/app/side-info/edition-info/edition-info.component.html
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move catalogue types into separate class
  src/app/views/edition-view/data/edition-complexes.data.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/models/edition-complex.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): move editionTypes into separate class
  src/app/side-info/edition-info/edition-info.component.html
  src/app/side-info/edition-info/edition-info.component.spec.ts
  src/app/side-info/edition-info/edition-info.component.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/home-view/home-view.component.html
  src/app/views/home-view/home-view.component.spec.ts
  src/app/views/home-view/home-view.component.ts
Due: yarn lint-files:fix, yarn format-files:fix

refactor(edition): rename EDITION_CATALOGUE_TYPES
  src/app/views/edition-view/data/edition-complexes.data.ts
  src/app/views/edition-view/edition-route-constants.ts
  src/app/views/edition-view/models/edition-complex.model.ts
Due: yarn lint-files:fix, yarn format-files:fix

build(deps-dev): bump @typescript-eslint packages from 5.45.0 to 5.47.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump eslint from 8.28.0 to 8.30.0
  package.json
  yarn.lock
Due: none

build(deps): bump rxjs from 7.5.7 to 7.8.0
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @angular packages from 15.0.1 to 15.0.4
  package.json
  yarn.lock
Due: none

build(deps-dev): bump @types/node from 16.18.3 to 16.18.10
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
