Repository webern-unibas-ch/awg-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-files:fix, yarn format-files:fix

Update src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-description.json
Due: yarn format-files:fix

fix(assets): fix size of trademark
  src/assets/img/edition/trademarks/je/no12_lin12/trademark_je_no12_lin12_op12_D.png
Due: none

fix(assets): update source description of op12 D
  src/assets/data/edition/series/1/section/5/op12/source-description.json
  src/assets/data/edition/series/1/section/5/op12/source-list.json
  src/assets/img/edition/trademarks/je/no12_lin12/trademark_je_no12_lin12_op12_D.png
Due: yarn format-files:fix

style(edition): make detail toggles small and muted
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.spec.ts
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.html
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.spec.ts
Due: yarn lint-files:fix, yarn format-files:fix

style(edition): simplify syntax
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-contents/source-description-contents.component.scss
  src/app/views/edition-view/edition-outlets/edition-complex/edition-detail/edition-report/source-description/source-description-corrections/source-description-corrections.component.scss
Due: yarn format-files:fix

build(deps): bump rdfstore from v0.9.18-alpha.18 to v0.9.18-alpha.19
  package.json
  yarn.lock
Due: none

build(deps): pin subdependency node-gyp
  package.json
  yarn.lock
Due: none

chore(release): 1.5.0
  CHANGELOG.md
  package.json
  src/app/app.globals.ts
Due: yarn lint-files:fix, yarn format-files:fix

docs(CHANGELOG): add credits to contributors
  CHANGELOG.md
Due: none

feature/m+467
  src/assets/data/edition/series/2/section/2a/m+467/source-description.json
  src/assets/data/edition/series/2/section/2a/m+467/source-evaluation.json
  src/assets/data/edition/series/2/section/2a/m+467/source-list.json
  src/assets/data/edition/series/2/section/2a/m+467/svg-sheets.json
  src/assets/data/edition/series/2/section/2a/m+467/textcritics.json
  src/assets/img/edition/series/2/section/2a/m+467/M+467_Sk1-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+467/M+467_Sk2-1von1-final.svg
  src/assets/img/edition/series/2/section/2a/m+467/M+467_Textfassung1-1von1-final.svg
Due: yarn format-files:fix

Path conditions:
  yarn lint-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html}
  yarn format-files:fix: any of: src/**/*.{ts,tsx,js,jsx,html,css,scss,json,md}
